---
title: Как обновить Ubuntu включая ядро до последнего стабильного релиза
description: Как обновить Ubuntu включая ядро до последнего стабильного релиза
published: 2019-05-14
modified: 2020-07-06
image: /assets/img/articles/how-to-upgrade-ubuntu/title.png
preview: /assets/img/articles/how-to-upgrade-ubuntu/title.png
tags: [девопс, линукс, безопасность, апгрейд]
permalink: /как-обновить-ubuntu
enlink: /how-to-upgrade-ubuntu
rulink: /как-обновить-ubuntu
affiliate:
  link: https://go.nordvpn.net/aff_c?offer_id=15&aff_id=42754&url_id=902
  banner: affiliate-banners-650x1200-en-v3.jpg
  text: NordVPN - самый быстрый VPN в мире
---

{% include breadcrumbs.html %}
<article itemscope itemtype="https://schema.org/HowTo">
	{% include header.html %}
	<div class="mb-0" itemscope itemtype="https://schema.org/HowTo">
        <span class="d-none" itemprop="name">{{ page.title }}</span>
		<span class="d-none" itemprop="totalTime" content="PT2H">2 часа</span>
		<p itemprop="description">В этой статье я покажу вам, как обновить ваш Ubuntu 20.04.
			В качестве бонуса мы также обновим ядро ​​до последней стабильной версии 5.7.7 или релиз-кандидата 5.8-rc4, которые содержит следующие улучшения:
		</p>
		<ul>
			<li>Поддержка WireGuard</li>
			<li>Новый драйвер охлаждения процессора</li>
			<li>Поддержка USB4</li>
			<li>Поддержка Amazon Echo</li>
			<li>Улучшенная поддержка оборудования</li>
			<li>Общий доступ к папкам VirtualBox</li>
			<li>Сжатие данных F2FS с использованием LZO/LZ4</li>
		</ul>
		<p>И вот краткий список того, что нового добавлено в Ubuntu 20.04:</p>
		<ul>
			<li>Лучший и быстрый рабочий стол GNOME 3.36 с поддержкой темной темы</li>
			<li>Улучшена поддержка 4K мониторов и масштабирования</li>
			<li>Новые темы и визуальные настройки</li>
			<li>Быстрая установка, быстрая загрузка</li>
			<li>Глобальный не беспокоить</li>
			<li>Лучшая поддержка Thunderbolt</li>
			<li>Лучшая поддержка графических карт nVidia</li>
		</ul>
		<p>Для обновления Ubuntu до последнего стабильного релиза 20.04 выполните следующие действия:</p>
		<div itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
			<h2 class="h5 mt-4" itemprop="name">
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-down text-primary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">					
				 </svg>
				Подготовка
			</h2>			
			<div id="update-packages-list" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#update-packages-list" />
				<div itemprop="name">Обновляем список пакетов</div>				
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">				
					<kbd itemprop="text">sudo apt-get update</kbd>
				</div>
			</div>
			<div id="upgrade-packages" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#upgrade-packages" />
				<div itemprop="name">Обновляем сами пакеты</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
					<kbd itemprop="text">sudo apt-get upgrade</kbd>
				</div>
			</div>
			<div id="install-update-manager-core-package" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#install-update-manager-core-package" />
				<div itemprop="name">Установливаем пакет update-manager-core package</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">sudo apt-get install update-manager-core</kbd>
				</div>
			</div>
		</div>
		<div itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
			<h2 class="h5 mt-4" itemprop="name">Обновляем Ubuntu</h2>
			<div id="upgrade-distro" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#upgrade-distro" />
				<div itemprop="name">Обновляем дистрибутив</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">sudo apt-get dist-upgrade</kbd>
				</div>
			</div>
			<div id="upgrade-ubuntu" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#upgrade-ubuntu" />
				<div itemprop="name">Обновляем Ubuntu</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">sudo do-release-upgrade</kbd>
				</div>				
			</div>
		</div>
		<div itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
			<h2 class="h5 mt-4" itemprop="name">Обновляем ядро</h2>
			<div id="change-current-directory-to-tmp" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#change-current-directory-to-tmp" />
				<div itemprop="name">Переходим в директорию /tmp</div>				
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">cd /tmp</kbd>
				</div>				
			</div>
			<div id="download-new-stable-kernel" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#download-new-stable-kernel" />
				<div itemprop="name">Скачиваем последнее стабильное ядро</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<pre itemprop="text">
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.7.7/amd64/linux-headers-5.7.7-050707_5.7.7-050707.202007010943_all.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.7.7/amd64/linux-headers-5.7.7-050707-generic_5.7.7-050707.202007010943_amd64.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.7.7/amd64/linux-image-unsigned-5.7.7-050707-generic_5.7.7-050707.202007010943_amd64.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.7.7/amd64/linux-modules-5.7.7-050707-generic_5.7.7-050707.202007010943_amd64.deb</kbd>
					</pre>
				</div>				
			</div>
			<div id="download-new-mainline-kernel" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#download-new-mainline-kernel" />
				<div itemprop="name">Или же скачиваем последнее тестовое ядро</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<pre itemprop="text">
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.8-rc4/amd64/linux-headers-5.8.0-050800_5.8.0-050800.202007052030_all.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.8-rc4/amd64/linux-headers-5.8.0-050800-generic_5.8.0-050800.202007052030_amd64.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.8-rc4/amd64/linux-image-unsigned-5.8.0-050800-generic_5.8.0-050800.202007052030_amd64.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.8-rc4/amd64/linux-modules-5.8.0-050800-generic_5.8.0-050800.202007052030_amd64.deb</kbd>
					</pre>
				</div>				
			</div>
			<div id="install-new-kernel" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#install-new-kernel" />
				<div itemprop="name">Устанавливаем новое ядро</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">sudo dpkg -i *.deb</kbd>
				</div>				
			</div>
			<div id="reboot-the-system" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#reboot-the-system" />
				<div itemprop="name">Перезагружаем систему</div>				
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">sudo shutdown -r now</kbd>
				</div>				
			</div>
		</div>
		<div itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
			<h2 class="h5 mt-4" itemprop="name">Последние шаги</h2>
			<div id="update-packages-list-after-upgrade" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#update-packages-list-after-upgrade" />
				<div itemprop="name">Обновляем список пакетов</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">				
					<kbd itemprop="text">sudo apt-get update</kbd>
				</div>
			</div>
			<div id="upgrade-packages-after-upgrade" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#upgrade-packages-after-upgrade" />
				<div itemprop="name">Обновляем сами пакеты</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">sudo apt-get upgrade</kbd>
				</div>
			</div>
			<div id="reboot-the-system-if-needed" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#reboot-the-system-if-needed" />
				<div itemprop="name">Перезагружаем систему еще раз если необходимо</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">sudo shutdown -r now</kbd>
				</div>
			</div>
			<div id="check-os-distro" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#check-os-distro" />
				<div itemprop="name">Проверяем ОС дистрибутива</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">lsb_release -a</kbd>
				</div>
			</div>
			<div id="check-kernel-version" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<link itemprop="url" href="https://sypalo.com/как-обновить-ubuntu#check-kernel-version" />
				<div itemprop="name">Проверяем версию ядра</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">uname -r</kbd>
				</div>
			</div>
		</div>
		<p class="mt-3">Вот и все, теперь ваша система обновлена до новейшей Ubuntu 20.04 и работает на наиболее защищенном ядре Linux.</p>
	</div>

	<footer>
		<hr />
	</footer>
</article>