---
title: Как обновить Ubuntu до 20.04 и ядро до 5.9
description: Обнови Ubuntu до 20.04 и ядро до 5.7, 5.8 или 5.9 используя эту пошаговую инструкцию
published: 2019-05-14
modified: 2020-09-27
image: /assets/img/articles/how-to-upgrade-ubuntu/title.png
preview: /assets/img/articles/how-to-upgrade-ubuntu/title.png
tags: [девопс, линукс, безопасность, апгрейд]
permalink: /как-обновить-ubuntu
enlink: /how-to-upgrade-ubuntu
rulink: /как-обновить-ubuntu
redirect_from: /ru/devops/blog/how-to-upgrade-ubuntu
affiliate:
  link: https://go.nordvpn.net/aff_c?offer_id=15&aff_id=42754&url_id=902
  banner: affiliate-banners-650x1200-en-v3.jpg
  text: NordVPN - самый быстрый VPN в мире
---

{% include breadcrumbs.html %}
<article itemscope itemtype="https://schema.org/Article">
	{% include header.html %}
	<div class="mb-0" itemscope itemtype="https://schema.org/HowTo">
		<meta itemprop="name" content="{{ page.title }}">
		<meta itemprop="totalTime" content="PT2H">
		<p itemprop="description">В этой статье я покажу вам, как обновить Ubuntu до 20.04.
			В качестве бонуса мы также обновим ядро ​​до последнего релиз-кандидата 5.9-rc6 последней или стабильной версии 5.8.12 или вышедшей из поддержки 5.7.19, которые содержит следующие улучшения:
		</p>
		<ul>
			<li>Поддержка WireGuard</li>
			<li>Новый драйвер охлаждения процессора</li>
			<li>Поддержка USB4</li>
			<li>Поддержка Amazon Echo</li>
			<li>Улучшенная поддержка оборудования</li>
			<li>Общий доступ к папкам VirtualBox</li>
			<li>Сжатие данных F2FS с использованием LZO/LZ4</li>
		</ul>
		<p>И вот краткий список того, что нового добавлено в Ubuntu 20.04:</p>
		<ul>
			<li>Лучший и быстрый рабочий стол GNOME 3.36 с поддержкой темной темы</li>
			<li>Улучшена поддержка 4K мониторов и масштабирования</li>
			<li>Новые темы и визуальные настройки</li>
			<li>Быстрая установка, быстрая загрузка</li>
			<li>Глобальный не беспокоить</li>
			<li>Лучшая поддержка Thunderbolt</li>
			<li>Лучшая поддержка графических карт nVidia</li>
		</ul>
		<p>Для обновления Ubuntu до последнего стабильного релиза 20.04 вам понадобится <span itemprop="supply" itemtype="https://schema.org/HowToSupply">2 часа</span>, чтобы <span itemprop="tool" itemtype="https://schema.org/HowToTool">выполнить следующие действия</span>:</p>
		<div itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
			<h2 class="h5 mt-4" itemprop="name">
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-down text-primary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">					
					<path fill-rule="evenodd" d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
					<path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"/>
				</svg>
				Подготовка
			</h2>
			<ul class="list-unstyled">
				<li id="обновляем-список-пакетов" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#обновляем-список-пакетов">
					<div itemprop="name">Обновляем список пакетов</div>				
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">				
						<kbd itemprop="text">sudo apt-get update</kbd>
					</div>
				</li>
				<li id="обновляем-пакеты" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#обновляем-пакеты">
					<div itemprop="name">Обновляем сами пакеты</div>
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
						<kbd itemprop="text">sudo apt-get upgrade</kbd>
					</div>
				</li>
				<li id="установливаем-пакет-update-manager-core" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#установливаем-пакет-update-manager-core">
					<div itemprop="name">Установливаем пакет update-manager-core</div>
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
						<kbd itemprop="text">sudo apt-get install update-manager-core</kbd>
					</div>
				</li>
			</ul>
		</div>
		<div itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
			<h2 class="h5 mt-4" itemprop="name">
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat text-warning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
					<path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
				</svg>
				Обновляем Ubuntu
			</h2>
			<ul class="list-unstyled">
				<li id="обновляем-дистрибутив" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#обновляем-дистрибутив">
					<div itemprop="name">Обновляем дистрибутив</div>
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
						<kbd itemprop="text">sudo apt-get dist-upgrade</kbd>
					</div>
				</li>
				<li id="обновляем-ubuntu" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#обновляем-ubuntu">
					<div itemprop="name">Обновляем Ubuntu</div>
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
						<kbd itemprop="text">sudo do-release-upgrade</kbd>
					</div>				
				</li>
			</ul>
		</div>
		<div itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
			<h2 class="h5 mt-4" itemprop="name">
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tools text-info" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
					<path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
				</svg>
				Обновляем ядро
			</h2>
			<ul class="list-unstyled">
				<li id="переходим-в-директорию-tmp" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#переходим-в-директорию-tmp">
					<div itemprop="name">Переходим в директорию /tmp</div>				
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
						<kbd itemprop="text">cd /tmp</kbd>
					</div>				
				</li>
				<li id="скачиваем-ядро-из-ветки-5-9" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#скачиваем-ядро-из-ветки-5-9">
					<div itemprop="name">Скачиваем последнее ядро из ветки 5.9.х</div>
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
						<pre itemprop="text">
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.9-rc6/amd64/linux-headers-5.9.0-050900rc6_5.9.0-050900rc6.202009202030_all.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.9-rc6/amd64/linux-headers-5.9.0-050900rc6-generic_5.9.0-050900rc6.202009202030_amd64.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.9-rc6/amd64/linux-image-unsigned-5.9.0-050900rc6-generic_5.9.0-050900rc6.202009202030_amd64.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.9-rc6/amd64/linux-modules-5.9.0-050900rc6-generic_5.9.0-050900rc6.202009202030_amd64.deb</kbd>
						</pre>
					</div>				
				</li>				
				<li id="скачиваем-ядро-из-ветки-5-8" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#скачиваем-ядро-из-ветки-5-8">
					<div itemprop="name">Или последнее стабильное ядро из ветки 5.8.х</div>
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
						<pre itemprop="text">
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.8.12/amd64/linux-headers-5.8.12-050812_5.8.12-050812.202009261732_all.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.8.12/amd64/linux-headers-5.8.12-050812-generic_5.8.12-050812.202009261732_amd64.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.8.12/amd64/linux-image-unsigned-5.8.12-050812-generic_5.8.12-050812.202009261732_amd64.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.8.12/amd64/linux-modules-5.8.12-050812-generic_5.8.12-050812.202009261732_amd64.deb</kbd>
						</pre>
					</div>
				</li>
				<li id="скачиваем-ядро-из-ветки-5-7" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#скачиваем-ядро-из-ветки-5-7">
					<div itemprop="name">Или вышедшее из поддержки ядро из ветки 5.7.х</div>
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
						<pre itemprop="text">
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.7.19/amd64/linux-headers-5.7.19-050719_5.7.19-050719.202008270830_all.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.7.19/amd64/linux-headers-5.7.19-050719-generic_5.7.19-050719.202008270830_amd64.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.7.19/amd64/linux-image-unsigned-5.7.19-050719-generic_5.7.19-050719.202008270830_amd64.deb</kbd>
<kbd>wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.7.19/amd64/linux-modules-5.7.19-050719-generic_5.7.19-050719.202008270830_amd64.deb</kbd>
						</pre>
					</div>				
				</li>				
				<li id="устанавливаем-новое-ядро" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#устанавливаем-новое-ядро">
					<div itemprop="name">Устанавливаем новое ядро</div>
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
						<kbd itemprop="text">sudo dpkg -i *.deb</kbd>
					</div>				
				</li>
				<li id="перезагружаем-систему" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
					<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#перезагружаем-систему">
					<div itemprop="name">Перезагружаем систему</div>				
					<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
						<kbd itemprop="text">sudo shutdown -r now</kbd>
					</div>				
				</li>
			</ul>
		</div>
		<div itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
			<h2 class="h5 mt-4 align-top" itemprop="name">
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-checklist text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
					<path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
				</svg>
				Последние шаги
			</h2>
			<li id="обновляем-список-пакетов-после-обновления" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#обновляем-список-пакетов-после-обновления">
				<div itemprop="name">Обновляем список пакетов</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">				
					<kbd itemprop="text">sudo apt-get update</kbd>
				</div>
			</li>
			<li id="обновляем-пакеты-после-обновления" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#обновляем-пакеты-после-обновления">
				<div itemprop="name">Обновляем сами пакеты</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">sudo apt-get upgrade</kbd>
				</div>
			</li>
			<li id="перезагружаем-систему-при-необходимости" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#reboot-the-system-if-needed">
				<div itemprop="name">Перезагружаем систему еще раз если необходимо</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">sudo shutdown -r now</kbd>
				</div>
			</li>
			<li id="проверяем-версию-ос-дистрибутива" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#проверяем-версию-ос-дистрибутива">
				<div itemprop="name">Проверяем версию ОС дистрибутива</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">lsb_release -a</kbd>
				</div>
			</li>
			<li id="проверяем-версию-ядра" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/как-обновить-ubuntu#проверяем-версию-ядра">
				<div itemprop="name">Проверяем версию ядра</div>
				<div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">					
					<kbd itemprop="text">uname -r</kbd>
				</div>
			</li>
		</div>
		<p class="mt-3">Вот и все, теперь ваша система обновлена до новейшей Ubuntu 20.04 и работает на наиболее защищенном ядре Linux.</p>
	</div>

	<footer>
		<hr>
	</footer>
</article>