---
title: Photo portfolio | Portrait
description: Sergey and Jane Sypalo portrait photo portfolio
permalink: /portrait-photo
enlink: /portrait-photo
rulink: /фото-портрет
type: ImageGallery
---

{% include breadcrumbs.html %}
{% include title.html %}
<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" itemscope itemprop="http://schema.org/ImageGallery">
        <div class="carousel-item active">
            <img src="/assets/img/photo/portrait/julia.jpg" class="d-block w-100" alt="julia" itemprop="image">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/photo/portrait/ksenia.jpg" class="d-block w-100" alt="ksenia" itemprop="image">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/photo/portrait/dasha.jpg" class="d-block w-100" alt="dasha" itemprop="image">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/photo/portrait/alexandra.jpg" class="d-block w-100" alt="alexandra" itemprop="image">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/photo/portrait/witch.jpg" class="d-block w-100" alt="witch" itemprop="image">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/photo/portrait/arina.jpg" class="d-block w-100" alt="arina" itemprop="image">
        </div>       
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>