---
title: Virtualization blog posts
description: Virtualization blog posts
permalink: /virtualization
enlink: /virtualization
rulink: /виртуализация
affiliate:
	link: https://go.nordvpn.net/aff_c?offer_id=15&aff_id=42754&url_id=902
	banner: affiliate-banners-650x1200-en-v3.jpg
	text: NordVPN banner
---

{% include title.html %}
{% assign posts = site.pages | where_exp: "post", "post.tags contains 'virtualization'" | where:"lang", page.lang %}
{% for post in posts %}  
  {% include post-snippet.html %}
{% endfor %}