---
title: ДевОпс портфолио, услуги и блогпосты
description: ДевОпс портфолио Сыпало Сергея, услуги и блогпосты
type: blog
permalink: /девопс
enlink: /devops
rulink: /девопс
---

{% include title.html %}
<div class="row">
    <div class="col-12 col-sm-6 mb-2 mb-sm-0">
        <div class="card h-100">
            <section class="card-body">
                <header>
                    <h2 class="h5">ДевОпс портфолио</h2>
                </header>
                <p class="card-text mb-auto">Если вы заинтересованы в проектах, которые я завершил, то просто посмотрите...</p>
                <footer>
                    <a href="/девопс-портфолио" class="btn btn-primary mt-3">Мое портфолио</a>
                </footer>
            </section>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="card h-100">
            <section class="card-body">
                <header>
                    <h2 class="h5">ДевОпс услуги</h2>
                </header>
                <p class="card-text mb-auto">Если вы заинтересованы, как я могу помочь вам сохранить деньги на облачной инфраструктуре, тогда посмотрите...</p>                
                <footer>
                    <a href="/девопс-услуги" class="btn btn-success mt-3">Услуги, которые я предлагаю</a>
                </footer>
            </section>
        </div>
    </div>
</div>
<hr />

{% assign posts = site.posts | where_exp: "post", "post.categories contains 'ДевОпс'" | where:"lang", page.lang %}
{% for post in posts %}
    {% include post-snippet.html %}    
{% endfor %}