---
title: Лучшие фильмы
description: Лучшие фильмы, которые я рекомендую посмотреть в 2020, оцененные мной от 9 до 10
image: /assets/img/movies/the-shawshank-redemption.jpg
preview: /assets/img/movies/the-shawshank-redemption.png
permalink: /фильмы
enlink: /movies
rulink: /фильмы
---

{% include title.html %}
{% assign posts = site.pages | where_exp: "post", "post.tags contains 'фильмы'" | where:"lang", page.lang | where:"type", "article" | sort: "modified" | reverse %}
{% for post in posts %}
    {% include post-snippet.html %}    
{% endfor %}