{% assign category = page.tags | first | capitalize | replace: "Devops", "DevOps" | replace: "Девопс", "ДевОпс" %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			<a class="text-decoration-none" itemprop="item" href="/{{ page.lang | replace: 'en', '' }}">
				<span itemprop="name">{{ site.data.translations.home[page.lang] }}</span>
			</a>
			<meta itemprop="position" content="1" />
		</li>		
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			<a class="text-decoration-none" itemprop="item" href="{{ category | downcase }}">
				<span itemprop="name">{{ category }}</span>
			</a>
			<meta itemprop="position" content="2" />
		</li>
		{% if page.url contains "-photo" or page.url contains "-фото" %}
			{% if page.lang == "en" %}
				{% portfolio = "photo-portfolio" %}
			{% else %}
				{% portfolio = "фото-портфолио" %}
			{% endif %}
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
				<a class="text-decoration-none" itemprop="item" href="/photo-portfolio">
					<span itemprop="name">Portfolio</span>
				</a>
				<meta itemprop="position" content="3" />
			</li>
		{% endif %}
	</ol>
</nav>