<header class="mb-2">    
    <h1 class="card-title h4 mb-0" itemprop="headline">
        {{ page.title }}
    </h1>
    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        <span class="d-none" itemprop="name">Sergey Sypalo</span>        
    </span>
    <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <span class="d-none" itemprop="name">Sypalo.com</span>        
        <span class="d-none" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
            <link itemprop="url" href="/assets/img/sergey-and-jane-sypalo.jpg" />
        </span>
	</span>    
    <p class="card-text">
        <img class="d-none" itemprop="image" src="{{ page.image }}" alt="page.title" />
        <span class="d-none" itemprop="datePublished">{{ page.published }}</span>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
            <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
        <small class="text-muted">            
            <time datetime="{{ page.modified }}" itemprop="dateModified">
                {% assign modified = page.modified | date_to_long_string %}
                {% if page.lang == "ru" %}
                    {% assign modified = modified | replace: "January", "января" | replace: "February", "февраля" | replace: "March", "марта" | replace: "April", "апреля" | replace: "May", "мая" | replace: "June", "июня" | replace: "July", "июля" | replace: "August", "августа" | replace: "September", "сентября" | replace: "October", "октября" | replace: "November", "ноября" | replace: "December", "декабря" %}
                {% endif %}
                {{ modified }}
            </time>
        </small>        
    </p>
    <a class="d-none" itemprop="mainEntityOfPage" href="{{ page.url }}"></a>
</header>