{% assign poster=movie.Title.en | replace: ' ', '-' | replace: '---', '-' | remove: ':' | remove: "'" | downcase %}
<div id="{{ poster }}" class="col-12 col-sm-6">
    <div class="card mb-3">
        <div class="row no-gutters" itemprop="item" itemscope itemtype="https://schema.org/Movie">    
            <div class="col-12 col-md-4">                
                <meta itemprop="image" content="/assets/img/movies/{{ poster }}.png">
                <img class="card-img img-fluid"  src="/assets/img/movies/{{ poster }}.png" alt="{{ movie.Title[page.lang] }}">
            </div>
            <div class="col-12 col-md-8">
                <div class="card-body pl-md-0 py-2">
                    <meta itemprop="url" content="{{ page.url }}#{{ poster }}">
                    <h5 class="card-title mb-1" itemprop="name">{{ movie.Title[page.lang] }}</h5>                                        
                    <p class="card-text mb-1"><small class="text-muted" itemprop="director">{{ site.data.translations.movies.director[page.lang] }}: {{ movie.Director[page.lang] }}</small></p>
                    <p class="card-text mb-1"><small class="text-muted" itemprop="dateCreated">{{ movie.Year }}</small></p>
                    <p class="card-text">
                        {{ site.data.translations.movies.watch[page.lang] }} 
                        <a href="https://amzn.to/{{ movie.AmazonPrime }}" target="_blank">Amazon</a>, 
                        <a href="https://itunes.apple.com/us/movie/{{ movie.iTunesTitle }}/id{{ movie.iTunesId }}" target="_blank">iTunes</a>, 
                        <a href="https://play.google.com/store/movies/details/{{ movie.GoogleTitle }}?id={{ movie.GoogleId }}&PAffiliateId=1100l62546" target="_blank">Google</a>
                        {{ site.data.translations.movies.buy[page.lang] }} 
                        <a href="https://amzn.to/{{ movie.Amazon }}" target="_blank">Amazon</a> 
                        {% if movie.Type != "Single" %}
                        {{ site.data.translations.movies.bundle[page.lang] }} 
                        <a href="https://itunes.apple.com/us/movie-collection/{{ movie.iTunesBundleName }}/id{{ movie.iTunesBundleId }}" target="_blank">iTunes</a> 
                        {{ site.data.translations.movies.and[page.lang] }} 
                        <a href="https://play.google.com/store/movies/details/{{ movie.GoogleBundleName }}?id={{ movie.GoogleBundleId }}&PAffiliateId=1100l62546" target="_blank">Google</a>
                        {{ site.data.translations.movies.bundlebuy[page.lang] }} 
                        <a href="https://amzn.to/{{ movie.AmazonBundle }}" target="_blank">Amazon</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>