<article class="card border-0 shadow-sm mb-3" itemscope itemtype="https://schema.org/Article">
    <figure class="row mb-0">
        <picture class="col-12 col-sm-4 col-lg-3 pr-0 d-none d-sm-block">
            <img class="img-fluid py-3 pl-3 pr-0" src="/assets/img/articles{{ post.enlink }}/title.png"
                alt="{{ post.title }}" />
        </picture>
        <figcaption class="col-12 col-sm-8 col-lg-9 pl-sm-0">
            <div class="card-body">
                <header class="mb-2">
                    <h2 class="card-title h5 mb-0" itemprop="headline">
                        {% if post.lang == "ru" %}
                        <a class="text-dark text-decoration-none" href="{{ post.rulink }}">{{ post.title }}</a>
                        {% else %}
                        <a class="text-dark text-decoration-none" href="{{ post.enlink }}">{{ post.title }}</a>
                        {% endif %}
                    </h2>
                    <p class="card-text">                        
                        <img class="d-none" itemprop="image" src="{{ page.image }}" alt="page.title" />
                        <span class="d-none" itemprop="datePublished">{{ post.published }}</span>
                        <small class="text-muted">                            
                            <time itemprop="dateModified" datetime="{{ post.modified }}">{{ post.modified | date_to_long_string }}</time> | 
                        </small>
                        {% assign category = post.tags | first | capitalize | replace: "devops", "DevOps" | replace: "девопс", "ДевОпс" %}
                        <a class="badge badge-primary" href="{{ category | downcase }}">{{ category }}</a>
                    </p>
                    <span class="d-none" itemprop="author">Sergey Sypalo</span>
                    <span class="d-none" itemprop="publisher">Sergey Sypalo</span>
                    <a class="d-none" itemprop="mainEntityOfPage" href="{{ page.url }}"></a>
                </header>
                <p class="card-text" itemprop="articleBody">
                    {{ post.content | split: 'Body">' | last | split: 'Save' | first | split: 'Получить' | first | strip_html | truncatewords:50 }}
                </p>
                <p class="card-text" itemprop="keywords">
                    Tags:
                    {% for tag in post.tags %}
                    <a class="badge badge-secondary" href="{{ tag | downcase }}">{{ tag }}</a>
                    {% endfor %}
                </p>
                <a class="btn btn-primary btn-sm active" href="{{ post.url }}" role="button" aria-pressed="true"
                    itemprop="url">{{ site.data.translations.readmore[page.lang] }}</a>
            </div>
        </figcaption>
    </figure>
</article>