<div class="col-12 col-sm-6">
    <div class="card mb-3">
        <div class="row no-gutters">    
            <div class="col-12 col-md-4">
                {% assign title = movie.Title.en | replace: ' ', '-' | replace: '---', '-' | remove ':' | downcase %}
                <img src="/assets/img/movies/{{ title }}.jpg" class="card-img img-fluid" alt="{{ movie.Title[page.lang] }}">                
            </div>
            <div class="col-12 col-md-8">
                <div class="card-body py-2 px-3">
                    <h5 class="card-title mb-1">{{ movie.Title[page.lang] }}</h5>          
                    <p class="card-text mb-1"><small class="text-muted">{{ movie.Year }}</small></p>                    
                </div>
            </div>
        </div>
    </div>
</div>