---
title: Best camera phones 2020
description: Best camera phones 2020 by DxOMark
published: 2020-01-01
modified: 2020-12-24
image: /assets/img/movies/best-camera-phones/title.png
preview: /assets/img/movies/best-camera-phones/title.png
tags: [photo, camera, phone]
permalink: /best-camera-phones
enlink: /best-camera-phones
rulink: /лучшие-камерофоны
affiliate:
  link: https://www.jdoqocy.com/click-100158048-13228405
  banner: movavi.jpg
  text: Movavi - универсальный фото-видео редактор
---

{% include breadcrumbs.html %}
<article itemid="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting" itemprop="datePublished" content="{{ page.published }}">
	{% include header.html %}
	<div class="mb-0" itemprop="articleBody">        
		<p>
			With the release of new phones, processor speed is becoming less and less important and manufacturers are fighting for the quality of cameras in the phone. Now an average phone worth $ 200 is enough for the interface to work smoothly and most games aren’t stupid.
		</p>
		<p>
			Xiaomi is slowly scrambling up the quality of photo / video shooting and moving into A-brand status. But in order to cover as many buyers as possible, the Redmi line was allocated as a separate sub-brand, where the main criterion is price / performance, but not the quality of the camera, i.e. current Redmi is like Xiaomi in the past.
		</p>
		<p>
			For those who want to save even more and do not pay attention to the quality of the photo, there are Realme, Oppo and other still little-known brands.
		</p>
		<p>
			But since this article belongs to the category of photos, I want to give the quality rating of cameras from one of the well-known sites among photographers - DXOMark, and give some recommendations regarding the choice of phone:
		</p>
		
		{% assign place = 1 %}
		<div class="table-responsive">
			<table class="table table-sm">
				<thead class="thead-dark small">
					<tr>
						<th scope="col">Place</th>
						<th scope="col">Rating</th>                        
						<th scope="col">Model</th>
						<th scope="col">5G</th>                        
						<th scope="col">Review</th>
						<th scope="col">Buy on Amazon</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>139</td>
						<td>Huawei Mate 40 Pro+</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-40-pro-plus-camera-review-king-of-camera" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/banggood-2d9d6676a4b8" target="_blank">Buy</a></td>
						<td></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>136</td>
						<td>Huawei Mate 40 Pro</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-40-pro-camera-review-dynamic-range-monster" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Huawei-Dual-SIM-AppGallery-Unlocked-Smartphone/dp/B08NK9946Q" target="_blank">Buy</a></td>
						<td></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>133</td>
						<td>Xiaomi Mi 10 Ultra</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-10-ultra-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/aliexpress-ww-5d4f2f10fe7b" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>132</td>
						<td>Huawei P40 Pro</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-p40-pro-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Huawei-ELS-NX9-Hybrid-SIM-Unlocked-Smartphone/dp/B086FFJVQ4" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>130</td>
						<td>Apple iPhone 12 Pro Max</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-12-pro-max-camera-review-big-and-beautiful" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-Pacific-Carrier-Subscription/dp/B08L5Q4BLG" target="_blank">Buy</a></td>
					</tr>					
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">128</td>						
						<td>Apple iPhone 12 Pro</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-12-pro-max-camera-review-big-and-beautiful" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-Graphite-Carrier-Subscription/dp/B08L5PTDTK" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>Xiaomi Mi 10 Pro</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-10-pro-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/gearbest-10nhoy534fk04c" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>127</td>
						<td>Vivo X50 Pro+</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/vivo-x50-pro-plus-camera-review-aiming-for-the-top" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/aliexpress-ww-5cf3c4bb07b5" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">126</td>
						<td>Oppo Find X2 Pro</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oppo-find-x2-pro-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/gearbest-10nhoy534fk04c" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>Samsung Galaxy S20 Ultra 5G</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s20-ultra-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Unlocked-Fingerprint-Recognition-Long-Lasting/dp/B082XYGR2C" target="_blank">Buy</a></td>						
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>125</td>
						<td>Honor 30 Pro+</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/honor-30-pro-plus-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/banggood-2e2292634fcb" target="_blank">Buy</a></td>
						<td></td>
					</tr>					
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>124</td>
						<td>Apple iPhone 11 Pro Max</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-11-pro-max-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2SKqj0k" target="_blank">Buy</a></td>                        
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>123</td>
						<td>Huawei Mate 30 Pro 5G</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-30-pro-5g-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2ZKgyAp" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">122</td>
						<td>Apple iPhone 12</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-12-camera-review-pro-level-video-amateur-zoom" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/dp/B08L5NZHK6" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>Honor V30 Pro</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/honor-v30-pro" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/aliexpress-10nhoy4wdglcws" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">121</td>                    
						<td>Xiaomi Mi Note 10 Pro</td>
						<td>No</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-cc9-pro-premium-edition-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2QGtBix" target="_blank">Buy</a></td>                        
					</tr>
					<tr>
						<td>Huawei Mate 30 Pro</td>
						<td>No</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-30-pro-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Huawei-Playstore-Supercharge-Unlocked-International/dp/B084YR9NNB" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="4">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="4">120</td>
						<td>Samsung Galaxy Note20 (Exynos)</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-note20-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Electronics-Smartphone-Long-Lasting-SM-N981UZNAXAA/dp/B08BX8BZ1P" target="_blank">Buy</a></td>
					</tr>
					<tr>						
						<td>Samsung Galaxy Note20 Ultra 5G</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-note20-ultra-5g-camera-review-excellent-wide-and-ultra-wide-performance" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Electronics-Unlocked-Smartphone-Long-Lasting/dp/B08BX7N9SK" target="_blank">Buy</a></td>
					</tr>
					<tr>						
						<td>Google Pixel 5</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/google-pixel-5-camera-review-software-power" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Google-Pixel-Resistant-Smartphone-Ultrawide/dp/B08H8X23ZB" target="_blank">Buy</a></td>
					</tr>
					<tr>						
						<td>Xiaomi Redmi K30 Pro Zoom</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-redmi-k30-pro-zoom-edition-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://tradingshenzhen.com/en/redmi-k30-4g-pro-5g-poco-f2-pro/2436-9618-redmi-k30pro-zoomedition-12gb-512gb.html" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>119</td>
						<td>Apple iPhone 11</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-11-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2Ry4yQh" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="3">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="3">118</td>
						<td>Xiaomi Mi 10T Pro 5G</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-10t-pro-5g-camera-review-competent-mid-ranger" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/aliexpress-ww-6b1363137b08" target="_blank">Buy</a></td>
					</tr>
					<tr>						
						<td>OnePlus 8 Pro</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oneplus-8-pro-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/37e8hJ2" target="_blank">Buy</a></td>
					</tr>				
					<tr>						
						<td>Samsung Glaxy S20+</td>
						<td>Yes</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s20plus-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/35SFcC0" target="_blank">Buy</a></td>                        
					</tr>				
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>117</td>
						<td>Samsung Note 10+</td>                        
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-note-10-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/39z5Tx1" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="3">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="3">116</td>
						<td>Samsung Note 10+ 5G</td>
						<td>Yes</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-note-10-5g-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2ZGO4Ys" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>Samsung Galaxy S10 5G</td>
						<td>Yes</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s10-5g-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/39xRyRG" target="_blank">Buy</a></td>                        
					</tr>
					<tr>
						<td>Huawei P30 Pro</td>                        
						<td>No</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-p30-pro-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/39z6uif" target="_blank">Buy</a></td>
					</tr>					
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">115</td>
						<td>Oppo Reno 10x Zoom</td>
						<td>No</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oppo-reno-10x-zoom-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2QPW7OP" target="_blank">Buy</a></td>
					</tr>
					<tr>						
						<td>Asus ZenFone 7 Pro</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/asus-zenfone-7-pro-camera-review-much-improved-tele-zoom" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Asus-Zenfone-pro-Snapdragon-Octa-core/dp/B08HW5SHQP" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="2">							
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">114</td>
						<td>OnePlus 7T Pro</td>
						<td>No</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oneplus-7t-pro-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2TCUgya" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>OnePlus 7 Pro</td>
						<td>No</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oneplus-7-pro-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2QhNSeY" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="4">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="4">113</td>
						<td>Google Pixel 4</td>
						<td>No</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/google-pixel-4-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/36fonk5" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>Motorola Edge+</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/motorola-edge-plus-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Motorola-Unlocked-256GB-Camera-Solor/dp/B08B9SGGRS" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>Honor 20 Pro</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/honor-20-pro-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2SJqI2V" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>Samsung Galaxy S10+</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s10-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2U9l8Ya" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">112</td>
						<td>Huawei P40</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-p40-camera-review-mid-ranger-with-potential" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Huawei-Services-Smartphone-ANA-NX9-Silver/dp/B089ZSNQ26" target="_blank">Buy</a></td>
					</tr>
					<tr>						
						<td>Huawei Mate 20 Pro</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-20-pro-camera-review-triple-cam-juggernaut" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2FcnXzd" target="_blank">Buy</a></td>						
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">111</td>
						<td>Google Pixel 4a</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/google-pixel-4a-camera-review-excellent-single-camera-smartphone" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Google-Pixel-4a-Unlocked-Smartphone/dp/B08CFSZLQ4" target="_blank">Buy</a></td>
					</tr>
					<tr>						
						<td>Huawei Mate 20 X</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-20-x-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/3bxSDdg" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>110</td>
						<td>Xiaomi Mi 9</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-9-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2QBc23f" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">109</td>
						<td>Samsung Galaxy Z Fold 2</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-z-fold-2-camera-review-a-next-generation-pocket-folder" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Electronics-Unlocked-Smartphone-SM-F916UZKAXAA/dp/B08GL5YRQT" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>Huawei P20 Pro</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-p20-pro-camera-review-innovative-technologies-outstanding-results" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2F8IhBs" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>							
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>108</td>
						<td>OnePlus Nord</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oneplus-nord-camera-review-the-oneplus-mid-ranger" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/ONEPLUS-5G-AC2003-International-Version/dp/B08BPF2VLF" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>106</td>
						<td>Apple iPhone XS Max</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-xs-max-review-flagship-imaging-power" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-Max-Fully-Unlocked/dp/B07KFN43WC" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">105</td>
						<td>Oppo Find X2 Neo</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oppo-find-x2-neo-camera-review-mid-range-alternative" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/OPPO-Find-X2-Neo-Single-SIM/dp/B089658QHN" target="_blank">Buy</a></td>
					</tr>
					<tr>						
						<td>Samsung Galaxy Z Flip</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-z-flip-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/OPPO-Find-X2-Neo-Single-SIM/dp/B089658QHN" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>104</td>
						<td>Asus ZenFone 6</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/asus-zenfone-6-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/ASUS-ZenFone-ZS630KL-S855-6G128G-2340x1080-All-Screen/dp/B07VZYDNNS" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="4">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="4">103</td>
						<td>Apple iPhone SE (2020)</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-se-2020-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-SE-128GB-Black/dp/B088NMH5KL" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>Xiaomi Mi MIX 3</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-mix-3-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.es/gp/offer-listing/B07L58M9X3" target="_blank">Buy</a></td>
					</tr>					
					<tr>
						<td>Samsung Galaxy Note 9</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-mix-3-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Galaxy-Note-128GB-Ocean/dp/B089HNHZ17" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td>HTC U12+</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-mix-3-camera-review" target="_blank">Review</a></td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">102</td>						
						<td>Xiaomi Redmi K20 Pro</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-mix-3-camera-review" target="_blank">Review</a></td>
						<td></td>
					</tr>
					<tr>
						<td>Google Pixel 3</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-mix-3-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Google-Pixel-Memory-Phone-Unlocked/dp/B07P8MQHSH" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">101</td>						
						<td>Google Pixel 3a</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/google-pixel-3a-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Google-Pixel-Memory-Unlocked-Clearly/dp/B07R7DY911" target="_blank">Buy</a></td>						
					</tr>
					<tr>
						<td>Apple iPhone XR</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-xr-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-XR-Fully-Unlocked/dp/B07P6Y7JW1" target="_blank">Buy</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">100</td>						
						<td>LG V60 ThinQ 5G</td>
						<td>Yes</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/lg-v60-thinq-5g-camera-review" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/LG-LM-V600AM-Unlocked-P-OLED-DisplayTriple/dp/B08HBXM4RM" target="_blank">Buy</a></td>						
					</tr>
					<tr>
						<td>Samsung Galaxy S9+</td>
						<td>No</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s9-plus-review-premium-specs-top-end-performance-2" target="_blank">Review</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Galaxy-S9-Plus-Unlocked/dp/B07D3Z9ZST" target="_blank">Buy</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<p>
			My opinion on the rating:
		</p>
		<p>
			If you are a user of Apple products, then the choice is quite simple, take the Apple iPhone 11 Pro Max model if it suits you more in size and needs a top-end camera. If the phone is too big for your palm or you did not plan to spend a lot of money on a new phone, the Apple iPhone 11 will be a good acquisition.
		</p>
		<p>
			If you are an Android user, then there are several more options. First of all, it’s worth it to decide for yourself whether you will bother with installing custom firmware on Huawei phones, in case Google services stop working on them. If so, then you should look at 5G support, how important it is for you at the moment (it depends on the region where you live, how often you travel and how often you update your phone).
		</p>
		<p>
			There are a lot of Samsung phones in the ranking, although in essence these are S10 and Note 10 options with and without 5G, then everyone chooses for himself based on the budget.
		</p>
		<p>
			OnePlus model is probably worth choosing for those who like Apple's approach, but prefer Android. Let me remind you that OnePlus releases two phones a year, one in the summer, the second, with slight improvements, in the fall and support the current version of Android for a long time. In terms of performance and characteristics, some of the best Android phones, as we put out of the rating. For some unknown reason, there is no updated OnePlus 7T Pro model in the rating, it is based on the updated SnapDragon 855 Plus processor (unlike the OnePlus 7 Pro, which is on the “regular” 855).
		</p>
		<p>
			I personally own Xiaomi Mi 9 (before that was Mi 6), and I am impressed with the growth in photo quality (the processor is always installed top-end). As we can see from the rating, the Xiaomi Mi Note 10 model is higher, because it uses a newer sensor, although the processor is weaker than the Mi 9.
		</p>
		<p>
			Huawei has three main lines, the top-end (on the camera) P-series, which is usually released in March-April, the top-end (on the processor) Mate series, which usually uses the same sensor as the P-series with some modifications. Well, nowadays, Honor is actively promoting nonsense for young people, offering top-end equipment for a reasonable price for cheap and cheerful.
			The 2019 Huawei model has 30 in the name and 20 respectively - the 2018 models, which also shoot very well and can be bought at significant discounts.
		</p>
		<p>
			Oppo is a new dark horse with good photo quality, but I would honestly choose another more famous manufacturer, so that in case of problems with the phone there would be more chances to find a service center nearby.
		</p>
	</div>

	<footer>
		<hr />
	</footer>
</article>