---
title: Фото портфолио, услуги и блогпосты
description: Фото портфолио Сергея и Евгении Сыпало, услуги и блогпосты
type: Blog
permalink: /фото
enlink: /photo
rulink: /фото
---

{% include title.html %}
<div class="row">
    <div class="col-12 col-sm-6 mb-2 mb-sm-0">
        <div class="card h-100">
            <section class="card-body">
                <header>
                    <h2 class="h5">Фото портфолио</h2>
                </header>
                <p class="card-text mb-auto">Если тебе интересно что мы уже фотографировали, тогда глянь на наше портфолио...</p>
                <footer>
                    <a href="/фото-портфолио" class="btn btn-primary mt-3">Наше фото портфолио</a>
                </footer>
            </section>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="card h-100">
            <section class="card-body">
                <header>
                    <h2 class="h5">Фото услуги</h2>
                </header>
                <p class="card-text mb-auto">Если ты хочешь запечатлеть какой-то момент свое жизний на фото, тогда посмотри на...</p>
                <footer>
                    <a href="/фото-услуги" class="btn btn-success mt-3">Наши фото услуги</a>
                </footer>
            </section>
        </div>
    </div>
</div>
<hr />

{% assign posts = site.pages | where_exp: "post", "post.tags contains 'фото'" | where:"lang", page.lang | where:"type", "article" %}
{% for post in posts %}
    {% include post-snippet.html %}     
{% endfor %}