---
title: Фото портфолио
description: Фото портфолио Сергея и Евгении Сыпало
tags: [фото]
permalink: /фото-портфолио
enlink: /photo-portfolio
rulink: /фото-портфолио
redirect_from: /ru/photo/portfolio
affiliate:
    link: https://www.jdoqocy.com/click-100158048-13228405
    banner: movavi.jpg
    text: Movavi - универсальный фото-видео редактор
---

{% include breadcrumbs.html %}
{% include title.html %}
<figure class="figure ml-1" itemscope itemtype="http://schema.org/Photograph">
    <a href="/фото-портрет">
        <img class="figure-img img-fluid img-thumbnail" itemprop="thumbnailUrl" src="/assets/img/photo/portrait/thumbnail.jpg?v=yiA5HIu3k6VGkUMs42pOB45aSjHCebqk-AVINXkDcG8" alt="Sergey and Jane Sypalo portrait portfolio">
    </a>
    <figcaption class="figure-caption text-center">
        <h3 itemprop="genre" class="h6">Портрет</h3>
    </figcaption>
</figure>
<figure class="figure ml-1" itemscope itemtype="http://schema.org/Photograph">
    <a href="/фото-пейзаж">
        <img class="figure-img img-fluid img-thumbnail" itemprop="thumbnailUrl" src="/assets/img/photo/landscape/thumbnail.jpg?v=ZHbsIPIUDBtQz5l45i1BSZV2GO8TNqsKOle7nEQ8L4o" alt="Sergey and Jane Sypalo landscape portfolio">
    </a>
    <figcaption class="figure-caption text-center">
        <h3 itemprop="genre" class="h6">Пейзаж</h3>
    </figcaption>
</figure>
<figure class="figure ml-1" itemscope itemtype="http://schema.org/Photograph">
    <a href="/макро-фото">
        <img class="figure-img img-fluid img-thumbnail" itemprop="thumbnailUrl" src="/assets/img/photo/macro/thumbnail.jpg?v=gm69GyMCzPqWgLifIiZFjQj_dDpLPgfPcvXA2wqPV_4" alt="Sergey and Jane Sypalo macro portfolio">
    </a>
    <figcaption class="figure-caption text-center">
        <h3 itemprop="genre" class="h6">Макро</h3>
    </figcaption>
</figure>
<figure class="figure ml-1" itemscope itemtype="http://schema.org/Photograph">
    <a href="/фото-города">
        <img class="figure-img img-fluid img-thumbnail" itemprop="thumbnailUrl" src="/assets/img/photo/urban/thumbnail.jpg?v=p05FjCjTVo4xDqlRNnuuJRN2soRz1hCGrP_OFAKgABQ" alt="Sergey and Jane Sypalo city portfolio">
    </a>
    <figcaption class="figure-caption text-center">
        <h3 itemprop="genre" class="h6">Город</h3>
    </figcaption>
</figure>
<figure class="figure ml-1" itemscope itemtype="http://schema.org/Photograph">
    <a href="/фото-танцы">
        <img class="figure-img img-fluid img-thumbnail" itemprop="thumbnailUrl" src="/assets/img/photo/dance/thumbnail.jpg?v=vz6oZ24f5EJl2zv63NpcdGV35AtvUxuhCBIIfu3MtCw" alt="Sergey and Jane Sypalo dance portfolio">
    </a>
    <figcaption class="figure-caption text-center">
        <h3 itemprop="genre" class="h6">Танцы</h3>
    </figcaption>
</figure>
<figure class="figure ml-1" itemscope itemtype="http://schema.org/Photograph">
    <a href="/фото-животных">
        <img class="figure-img img-fluid img-thumbnail" itemprop="thumbnailUrl" src="/assets/img/photo/animal/thumbnail.jpg?v=18Q48ID_Do6IyxfhDHzplmNwbOgmwl7kitJ5_tkc6Pg" alt="Sergey and Jane Sypalo animal portfolio">
    </a>
    <figcaption class="figure-caption text-center">
        <h3 itemprop="genre" class="h6">Животные</h3>
    </figcaption>
</figure>