---
title: Best pentalogies
description: Best pentalogies to watch on Amazon, Google or iTunes in 2020
published: 2020-04-20
modified: 2020-08-16
image: /assets/img/movies/best-pentalogies/title.png
preview: /assets/img/movies/best-pentalogies/title.png
tags: [movies]
permalink: /best-pentalogies
enlink: /best-pentalogies
rulink: /лучшие-пенталогии
---

{% include breadcrumbs.html %}
<article itemid="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting" itemprop="datePublished" content="{{ page.published }}">
  {% include header.html %}
  <div class="mb-0" itemprop="articleBody">  
    <p>Best pentalogies (5-parts movies) to watch on Amazon, Google or iTunes in 2020, which I rated from 8 to 9, rarely 10 out of 10, but there are <a href="/best-movies">best movies</a> rated 9 or 10 by me, <a href="/best-dilogies">dilogies</a>, <a href="/best-trilogies">trilogies</a> and <a href="/best-quadrologies">quadrologies</a> worth to watch</p>
    <p>
        Save on buying movies and other Internet purchases with <a href="https://letyshops.com/ua/soc/sh-1?r=1736737">LetyShops</a>
    </p>
    {% assign movies = site.data.movies | where:"Type", "Pentalogy" %}
    <div class="row">
      {% for movie in movies %}
        {% include movie-snippet.html %}
      {% endfor %}
    </div>
  </div>  
          
  <footer>
      <hr />
  </footer>
</article>

<script>
  var _merchantSettings=_merchantSettings || [];
  _merchantSettings.push(['AT', '1010l354R']);
  (function() {
    var autolink = document.createElement('script');
    autolink.type = 'text/javascript';autolink.async=true;
    autolink.src = ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(autolink, s);
  })();
</script>