---
title: Лучшие камерофоны 2021
description: Список телефонов с самыми лучшими камерами по версии DxOMark
published: 2020-01-01
modified: 2021-01-28
image: /assets/img/articles/best-camera-phones/title.png
preview: /assets/img/articles/best-camera-phones/title.png
tags: [фото, камера, телефон]
permalink: /лучшие-камерофоны
enlink: /best-camera-phones
rulink: /лучшие-камерофоны
affiliate:
  link: https://www.jdoqocy.com/click-100158048-13228405
  banner: movavi.jpg
  text: Movavi - универсальный фото-видео редактор
---

{% include breadcrumbs.html %}
<article itemid="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting" itemprop="datePublished" content="{{ page.published }}">
	{% include header.html %}
	<div class="mb-0" itemprop="articleBody">
		<p>
			С выходом новых телефонов все меньшее значение имеет скорость процессора и производители борются за качество камер в телефоне Сейчас достаточно среднего телефона стоимостью в 200$ чтобы интерфейс в нем работал плавно и большинство игр не тупило.
		</p>
		<p>
			Xiaomi потихоньку карабкается вверх по качеству фото/видео-съемки и переходит в статус A-бренда. Но чтобы охватить как можно большее количество покупателей линейка Redmi была выделена в отдельный суббренд, где главным критерием является цена/производительность, но не качество камеры, т.е. нынешние Redmi это как Xiaomi в прошлом.
		</p>
		<p>
			Для тех, кто хочет еще больше поэкономить и не обращает внимания на качество фото есть Realme, Oppo и другие пока еще малоизвестные бренды.
		</p>
		<p>
			Но поскольку эта статья относиться к категории фото, я хочу привести рейтинг качества камер одного из известных сайтов среди фотографов - DXOMark, и дать некоторые рекомендации по поводу выбора телефона:       
		</p>
		
		{% assign place = 1 %}
		<div class="table-responsive">
			<table class="table table-sm">
				<thead class="thead-dark small">
					<tr>
						<th scope="col">Место</th>
						<th scope="col">Рейтинг</th>                        
						<th scope="col">Модель</th>
						<th scope="col">5G</th>                        
						<th scope="col">Обзор</th>
						<th scope="col">Купить на Amazon</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>139</td>
						<td>Huawei Mate 40 Pro+</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-40-pro-plus-camera-review-king-of-camera" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/banggood-2d9d6676a4b8" target="_blank">Купить</a></td>
						<td></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>136</td>
						<td>Huawei Mate 40 Pro</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-40-pro-camera-review-dynamic-range-monster" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Huawei-Dual-SIM-AppGallery-Unlocked-Smartphone/dp/B08NK9946Q" target="_blank">Купить</a></td>
						<td></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>133</td>
						<td>Xiaomi Mi 10 Ultra</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-10-ultra-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/aliexpress-ww-5d4f2f10fe7b" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>132</td>
						<td>Huawei P40 Pro</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-p40-pro-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Huawei-ELS-NX9-Hybrid-SIM-Unlocked-Smartphone/dp/B086FFJVQ4" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>130</td>
						<td>Apple iPhone 12 Pro Max</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-12-pro-max-camera-review-big-and-beautiful" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-Pacific-Carrier-Subscription/dp/B08L5Q4BLG" target="_blank">Купить</a></td>
					</tr>	
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">128</td>						
						<td>Apple iPhone 12 Pro</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-12-pro-max-camera-review-big-and-beautiful" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-Graphite-Carrier-Subscription/dp/B08L5PTDTK" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Xiaomi Mi 10 Pro</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-10-pro-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/gearbest-10nhoy534fk04c" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>127</td>
						<td>Vivo X50 Pro+</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/vivo-x50-pro-plus-camera-review-aiming-for-the-top" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/aliexpress-ww-5cf3c4bb07b5" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">126</td>
						<td>Oppo Find X2 Pro</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oppo-find-x2-pro-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/gearbest-10nhoy534fk04c" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Samsung Galaxy S20 Ultra 5G (Exynos)</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s20-ultra-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Unlocked-Fingerprint-Recognition-Long-Lasting/dp/B082XYGR2C" target="_blank">Купить</a></td>
						
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>125</td>
						<td>Honor 30 Pro+</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/honor-30-pro-plus-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/banggood-2e2292634fcb" target="_blank">Купить</a></td>
						<td></td>
					</tr>					
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>124</td>
						<td>Apple iPhone 11 Pro Max</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-11-pro-max-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2SKqj0k" target="_blank">Купить</a></td>                        
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>123</td>
						<td>Huawei Mate 30 Pro 5G</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-30-pro-5g-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2ZKgyAp" target="_blank">Купить</a></td>
					</tr>					
					<tr>
						<td rowspan="3">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="3">122</td>
						<td>Apple iPhone 12 mini</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-12-mini-camera-review-performance-in-your-pocket" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-Locked-Carrier-Subscription/dp/B08L5NWSRG" target="_blank">Купить</a></td>
					</tr>
					<tr>						
						<td>Apple iPhone 12</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-12-camera-review-pro-level-video-amateur-zoom" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/dp/B08L5NZHK6" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Honor V30 Pro</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/honor-v30-pro" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/aliexpress-10nhoy4wdglcws" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">121</td>                    
						<td>Xiaomi Mi Note 10 Pro</td>
						<td>Нет</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-cc9-pro-premium-edition-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2QGtBix" target="_blank">Купить</a></td>                        
					</tr>
					<tr>						
						<td>Huawei Mate 30 Pro</td>
						<td>Нет</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-30-pro-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Huawei-Playstore-Supercharge-Unlocked-International/dp/B084YR9NNB" target="_blank">Купить</a></td>
					</tr>					
					<tr>
						<td rowspan="4">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="4">120</td>
						<td>Samsung Galaxy Note20 (Exynos)</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-note20-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Electronics-Smartphone-Long-Lasting-SM-N981UZNAXAA/dp/B08BX8BZ1P" target="_blank">Купить</a></td>
					</tr>
					<tr>						
						<td>Samsung Galaxy Note20 Ultra 5G (Exynos)</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-note20-ultra-5g-camera-review-excellent-wide-and-ultra-wide-performance" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Electronics-Unlocked-Smartphone-Long-Lasting/dp/B08BX7N9SK" target="_blank">Купить</a></td>
					</tr>
					<tr>						
						<td>Google Pixel 5</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/google-pixel-5-camera-review-software-power" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Google-Pixel-Resistant-Smartphone-Ultrawide/dp/B08H8X23ZB" target="_blank">Купить</a></td>
					</tr>
					<tr>						
						<td>Xiaomi Redmi K30 Pro Zoom</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-redmi-k30-pro-zoom-edition-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://tradingshenzhen.com/en/redmi-k30-4g-pro-5g-poco-f2-pro/2436-9618-redmi-k30pro-zoomedition-12gb-512gb.html" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>							
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>119</td>
						<td>Apple iPhone 11</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-11-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2Ry4yQh" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="3">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="3">118</td>
						<td>Xiaomi Mi 10T Pro 5G</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-10t-pro-5g-camera-review-competent-mid-ranger" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://letyshops.com/r/aliexpress-ww-6b1363137b08" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>OnePlus 8 Pro</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oneplus-8-pro-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/37e8hJ2" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Samsung Galaxy S20+ (Exynos)</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s20plus-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/35SFcC0" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="3">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="3">117</td>					
						<td>Motorola Edge+</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/motorola-edge-plus-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Motorola-Unlocked-256GB-Camera-Solor/dp/B08B9SGGRS" target="_blank">Купить</a></td>						
					</tr>
					<tr>
						<td>Samsung Galaxy Note20 Ultra 5G (Snapdragon) </td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-note20-ultra-5g-snapdragon-camera-review-the-snapdragon-version" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Electronics-Unlocked-Smartphone-Long-Lasting/dp/B08BX7N9SK" target="_blank">Купить</a></td>					
					</tr>
					<tr>
						<td>Samsung Galaxy Note 10+ (Exynos)</td>
						<td>Нет</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-note-10-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Factory-Unlocked-Warranty-Active2/dp/B07YGQGD7Y" target="_blank">Купить</a></td>                        
					</tr>
					<tr>
						<td rowspan="3">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="3">116</td>
						<td>Samsung Note 10+ 5G (Exynos)</td>
						<td>Да</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-note-10-5g-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2ZGO4Ys" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Samsung Galaxy S10 5G (Exynos)</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s10-5g-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/39xRyRG" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Huawei P30 Pro</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-p30-pro-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/39z6uif" target="_blank">Купить</a></td>
					</tr>					
					<tr>
						<td rowspan="3">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="3">115</td>
						<td>Samsung Galaxy S20 FE (Exynos)</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s20-fe-exynos-camera-review-versatile-option-with-a-good-ultra-wide" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Factory-Unlocked-Smartphone-Pro-Grade/dp/B08FYTSXGQ" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Oppo Reno 10x Zoom</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oppo-reno-10x-zoom-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2QPW7OP" target="_blank">Купить</a></td>
					</tr>
					<tr>						
						<td>Asus ZenFone 7 Pro</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/asus-zenfone-7-pro-camera-review-much-improved-tele-zoom" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Asus-Zenfone-pro-Snapdragon-Octa-core/dp/B08HW5SHQP" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="3">							
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="3">114</td>
						<td>Vivo X51 5G</td>
						<td>Да</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/vivo-x51-5g-camera-review-4-lenses-with-a-solid-zoom" target="_blank">Обзор</a></td>
						<td>N/A</td>
					</tr>
					<tr>						
						<td>OnePlus 7T Pro</td>
						<td>Нет</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oneplus-7t-pro-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2TCUgya" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>OnePlus 7 Pro</td>
						<td>Нет</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oneplus-7-pro-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2QhNSeY" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="3">							
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="3">113</td>
						<td>Google Pixel 4</td>
						<td>Нет</td>                        
						<td><a class="text-decoration-none" href="https://www.dxomark.com/google-pixel-4-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/36fonk5" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Honor 20 Pro</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/honor-20-pro-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2SJqI2V" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Samsung Galaxy S10+ (Exynos)</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s10-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2U9l8Ya" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="4">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="4">112</td>
						<td>Sony Xperia 1 II</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/sony-xperia-1-ii-camera-review-big-strides-for-sony/" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/smartphone-autofocus-technology-enhanced-features/dp/B088MLX7C1" target="_blank">Купить</a></td>
					</tr>
					<tr>						
						<td>Samsung Galaxy Note20 (Snapdragon)</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-note20-snapdragon-great-ultra-wide-and-portraits" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Factory-Unlocked-Smartphone-Long-Lasting/dp/B08BX7LWXS" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Huawei P40</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-p40-camera-review-mid-ranger-with-potential" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Huawei-Services-Smartphone-ANA-NX9-Silver/dp/B089ZSNQ26" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Huawei Mate 20 Pro</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-20-pro-camera-review-triple-cam-juggernaut" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2FcnXzd" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">111</td>
						<td>Google Pixel 4a</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/google-pixel-4a-camera-review-excellent-single-camera-smartphone" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Google-Pixel-4a-Unlocked-Smartphone/dp/B08CFSZLQ4" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Huawei Mate 20 X</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-mate-20-x-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/3bxSDdg" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">110</td>
						<td>LG Wing</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/lg-wing-camera-review-excellent-color-and-solid-performance-indoors" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.es/dp/B08JZKWW6G" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Xiaomi Mi 9</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-9-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2QBc23f" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">109</td>
						<td>Samsung Galaxy Z Fold 2</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-z-fold-2-camera-review-a-next-generation-pocket-folder" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Electronics-Unlocked-Smartphone-SM-F916UZKAXAA/dp/B08GL5YRQT" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Huawei P20 Pro</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/huawei-p20-pro-camera-review-innovative-technologies-outstanding-results" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://amzn.to/2F8IhBs" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">108</td>
						<td>Oppo Reno4 Pro 5G</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oppo-reno4-pro-5g-leaning-towards-video/" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/OPPO-Dual-SIM-Factory-Unlocked-Smartphone/dp/B08JQN9BNZ" target="_blank">Купить</a></td>
					</tr>
					<tr>						
						<td>OnePlus Nord</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oneplus-nord-camera-review-the-oneplus-mid-ranger" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/ONEPLUS-5G-AC2003-International-Version/dp/B08BPF2VLF" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>106</td>
						<td>Apple iPhone XS Max</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-xs-max-review-flagship-imaging-power" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-Max-Fully-Unlocked/dp/B07KFN43WC" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">105</td>
						<td>Oppo Find X2 Neo</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/oppo-find-x2-neo-camera-review-mid-range-alternative" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/OPPO-Find-X2-Neo-Single-SIM/dp/B089658QHN" target="_blank">Купить</a></td>
					</tr>
					<tr>						
						<td>Samsung Galaxy Z Flip</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-z-flip-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/OPPO-Find-X2-Neo-Single-SIM/dp/B089658QHN" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>106</td>
						<td>Apple iPhone XS Max</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/asus-zenfone-6-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-Max-Fully-Unlocked/dp/B07KFN43WC" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td>104</td>
						<td>Asus ZenFone 6</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/asus-zenfone-6-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/ASUS-ZenFone-ZS630KL-S855-6G128G-2340x1080-All-Screen/dp/B07VZYDNNS" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="4">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="4">103</td>
						<td>Apple iPhone SE (2020)</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-se-2020-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-SE-128GB-Black/dp/B088NMH5KL" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>Xiaomi Mi MIX 3</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-mix-3-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.es/gp/offer-listing/B07L58M9X3" target="_blank">Купить</a></td>
					</tr>					
					<tr>
						<td>Samsung Galaxy Note 9</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-mix-3-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Galaxy-Note-128GB-Ocean/dp/B089HNHZ17" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td>HTC U12+</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-mix-3-camera-review" target="_blank">Обзор</a></td>
						<td></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">102</td>						
						<td>Xiaomi Redmi K20 Pro</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-mix-3-camera-review" target="_blank">Обзор</a></td>
						<td></td>
					</tr>
					<tr>
						<td>Google Pixel 3</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/xiaomi-mi-mix-3-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Google-Pixel-Memory-Phone-Unlocked/dp/B07P8MQHSH" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">101</td>						
						<td>Google Pixel 3a</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/google-pixel-3a-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Google-Pixel-Memory-Unlocked-Clearly/dp/B07R7DY911" target="_blank">Купить</a></td>						
					</tr>
					<tr>
						<td>Apple iPhone XR</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/apple-iphone-xr-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Apple-iPhone-XR-Fully-Unlocked/dp/B07P6Y7JW1" target="_blank">Купить</a></td>
					</tr>
					<tr>
						<td rowspan="2">
							{{ place }}
							{% assign place = place | plus: 1 %}
						</td>
						<td rowspan="2">100</td>						
						<td>LG V60 ThinQ 5G</td>
						<td>Да</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/lg-v60-thinq-5g-camera-review" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/LG-LM-V600AM-Unlocked-P-OLED-DisplayTriple/dp/B08HBXM4RM" target="_blank">Купить</a></td>						
					</tr>
					<tr>
						<td>Samsung Galaxy S9+</td>
						<td>Нет</td>
						<td><a class="text-decoration-none" href="https://www.dxomark.com/samsung-galaxy-s9-plus-review-premium-specs-top-end-performance-2" target="_blank">Обзор</a></td>
						<td><a class="text-decoration-none" href="https://www.amazon.com/Samsung-Galaxy-S9-Plus-Unlocked/dp/B07D3Z9ZST" target="_blank">Купить</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			Если вы пользователь продукции Apple, то выбор достаточно прост, берите модель Apple iPhone 12 Pro Max если она вам больше подходит по размеру и нужна топовая камера. Если телефон слишком большой для вашей ладони либо вы не планировали тратить много денег на новый телефон, Apple iPhone 12 будет хорошим приобретением.
		</p>
		<p>
			Если же вы пользователь Android, то вариантов несколько больше. В первую очередь стоить решить для себя будете ли вы заморачиваться с установкой кастомных прошивок на телефоны Huawei, в случае, если сервисы Гугл перестанут на них работать. Если да, то далее стоит смотреть на поддержку 5G, насколько она важна для вас в данный момент (зависит, от региона, где вы проживаете, как часто путешествуете и как часто обновляете телефон).
		</p>
		<p>
			В рейтинге очень много телефонов Samsung, хотя по сути это варианты S20 и Note 20, далее каждый выбирает себе исходя из бюджета.
		</p>
		<p>
			Модель OnePlus пожалуй стоит выбрать тем, кому нравится подход Apple, но предпочитают Android. Напомню, что OnePlus выпускает два телефон в год, один летом, второй, с небольшими улучшениями, осенью и поддерживают актуальную версию Android достаточно долго. По производительности и характеристикам, одни из лучших телефонов на Android, как мы выдим из рейтинга.
		</p>
		<p>
			Я лично владею Xiaomi Mi 10T Pro (до этого был  Mi 9, а до него Mi 6), и я впечатлен ростом качества фото (процессор как всегда устанавливается топовый).
		</p>
		<p>
			У Huawei две основные линейки, топовая (по камере) P-серия, выходит как правило в марте-апреле, топовая (по процессору) Mate серия, которая как правило использует тот же сенсор, что и P-серия с некоторыми доработками. Ну и активно продвигающийся сейчас бред для молодежи Honor, предлагающий за дешево и сердито топовую комплектацию за разумные деньги.
			Модель Huawei 2021 года имеют 50 в названии и соответственно 40 - модели 2020 года и так далее по убыванию, которые также снимают очень прилично и их можно купить с существенными скидками.
		</p>
		<p>
			Oppo и Vivo это новые "темные лошадки" с неплохим качеством фото, но я бы честно говоря выбрал другого более известного производителя, чтобы в случае проблем с телефоном было больше шансов найти сервисный центр поблизости.
		</p>
	</div>

	<footer>
		<hr />
	</footer>
</article>