---
title: Samsung Galaxy S21 обзоры и цены
description: Samsung Galaxy S21 обзоры и цены
published: 2021-01-14
modified: 2021-01-24
image: /assets/img/articles/samsung-galaxy-s21/title.png
preview: /assets/img/articles/samsung-galaxy-s21/title.png
tags: [фото, камера, телефон]
permalink: /самсунг-галакси-s21
enlink: /samsung-galaxy-s21
rulink: /самсунг-галакси-s21
js: true
affiliate:
  link: https://www.jdoqocy.com/click-100158048-13228405
  banner: movavi.jpg
  text: Movavi - универсальный фото-видео редактор
---

{% include breadcrumbs.html %}
<article itemid="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting" itemprop="datePublished" content="{{ page.published }}" itemprop="dateModified" content="{{ page.modified }}">
	{% include header.html %}
	<div class="mb-0" itemprop="articleBody">
		<p>
			Компания Samsung представила флагманскую линейку камерофонов Samsung Galaxy S21 онлайн 14 января 2021 года.
			Она состоит из 3 моделей: базовый Galaxy S21 5G, Galaxy S21+ 5G и Galaxy S21 Ultra.
			Основной фишкой серии, как и положено флагманам, стала поддержка дисплеем HDR10+, частота обновления экрана 120 Гц, съемка в 8K при 30к/с и улучшенная поддержка 5G.
			Вся линейка работает на базе операционной системы Android 11 с обновленной оболочкой One UI 3.1.
			Samsung не стала изменять своей традиции и европейские версии телефонов работают на базе их процессора Exynos 2100 для европейского рынка, в то время как для американского рынка поставляются модели на базе Qualcomm 888.
			А теперь подробнее о каждой модели.
		</p>

		<h2 class="h5">Samsung Galaxy S21 5G</h2>        
		<p>
			Базовая модель, самая маленькая по размеру, если телефон с диагональю в 6.2 дюйма можно назвать маленьким)
			На выбор предлагается только один вариант - 8Гб оперативной памяти и 128/256Гб. Емкость аккумулятора составляет 4000 мАч.
		</p>
		<div id="s21" class="carousel carousel-dark slide" data-ride="carousel">
			<div class="carousel-inner" itemscope itemprop="http://schema.org/ImageGallery">
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-gray-frontback.png" class="mx-auto d-block" alt="Samsung Galaxy S21 gray frontback" itemprop="image">
				</div>
				<div class="carousel-item active">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-gray-front.png" class="mx-auto d-block" alt="Samsung Galaxy S21 gray front" itemprop="image">
				</div>				
			</div>
			<a class="carousel-control-prev" href="#s21" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Предыдущая</span>
			</a>
			<a class="carousel-control-next" href="#s21" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Следующая</span>
			</a>
		</div>
		<h2 class="h5">Samsung Galaxy S20+ 5G</h2>
		<p>
			В этой модели экран побольше и равен 6.7 дюйма, увеличен аккумулятор до 4800 мАч, Варианты памяти аналогичны базовой модели, 8 оперативной и 128/256Гб для данных.
		</p>
		<div id="s21-plus" class="carousel slide" data-ride="s21-plus">
			<div class="carousel-inner" itemscope itemprop="http://schema.org/ImageGallery">
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-plus-black-frontback.jpg" class="d-block w-100" alt="Samsung Galaxy S21 plus black frontback" itemprop="image">
				</div>
				<div class="carousel-item active">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-plus-black-front.jpg" class="d-block w-100" alt="Samsung Galaxy S21 plus black front" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-plus-black-frontleft.jpg" class="d-block w-100" alt="Samsung Galaxy S21 plus black front left" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-plus-black-frontright.jpg" class="d-block w-100" alt="Samsung Galaxy S21 plus black front right" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-plus-black-sideleft.jpg" class="d-block w-100" alt="Samsung Galaxy S21 plus black side left" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-plus-black-sideright.jpg" class="d-block w-100" alt="Samsung Galaxy S21 plus black side right" itemprop="image">
				</div>
				<div class="carousel-item active">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-plus-black-back.jpg" class="d-block w-100" alt="Samsung Galaxy S21 plus black back" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-plus-black-backleft.jpg" class="d-block w-100" alt="Samsung Galaxy S21 plus black back left" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-plus-black-backright.jpg" class="d-block w-100" alt="Samsung Galaxy S21 plus black back right" itemprop="image">
				</div>
			</div>
			<a class="carousel-control-prev" href="#s21-plus" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Предыдущая</span>
			</a>
			<a class="carousel-control-next" href="#s21-plus" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Следующая</span>
			</a>
		</div>
		
		<h2 class="h5">Samsung Galaxy S20 Ultra</h2>
		<p>
			Топовая модель с камерой на 108 Мп, экраном 6.9 дюйма и аккумулятором на 5000 мАч. На выбор предлагается 12/16Гб оперативной памяти и 128/256/512 для даннях.
		</p>
		<div id="s21-ultra" class="carousel slide" data-ride="s21-ultra">
			<div class="carousel-inner" itemscope itemprop="http://schema.org/ImageGallery">
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-ultra-black-frontback.jpg" class="d-block w-100" alt="Samsung Galaxy S21 Ultra black frontback" itemprop="image">
				</div>
				<div class="carousel-item active">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-ultra-black-front.jpg" class="d-block w-100" alt="Samsung Galaxy S21 Ultra black front" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-ultra-black-frontleft.jpg" class="d-block w-100" alt="Samsung Galaxy S21 Ultra black front left" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-ultra-black-frontright.jpg" class="d-block w-100" alt="Samsung Galaxy S21 Ultra black front right" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-ultra-black-sideleft.jpg" class="d-block w-100" alt="Samsung Galaxy S21 Ultra black side left" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-ultra-black-sideright.jpg" class="d-block w-100" alt="Samsung Galaxy S21 Ultra black side right" itemprop="image">
				</div>
				<div class="carousel-item active">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-ultra-black-back.jpg" class="d-block w-100" alt="Samsung Galaxy S21 Ultra black back" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-ultra-black-backleft.jpg" class="d-block w-100" alt="Samsung Galaxy S21 Ultra black back left" itemprop="image">
				</div>
				<div class="carousel-item">
					<img src="/assets/img/articles/samsung-galaxy-s21/samsung-galaxy-s21-ultra-black-backright.jpg" class="d-block w-100" alt="Samsung Galaxy S21 Ultra black back right" itemprop="image">
				</div>
			</div>
			<a class="carousel-control-prev" href="#s21-ultra" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Предыдущая</span>
			</a>
			<a class="carousel-control-next" href="#s21-ultra" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Следующая</span>
			</a>
		</div>
	</div>

	<footer>
		<hr />
	</footer>
</article>