---
title: Лучшие пенталогии
description: Лучшие пенталогии, которые я рекомендую посмотреть в 2020, оцененные мной от 8 до 9
published: 2019-04-20
modified: 2020-08-16
image: /assets/img/articles/best-pentalogies/title.png
preview: /assets/img/articles/best-pentalogies/title.png
tags: [фильмы]
permalink: /лучшие-пенталогии
enlink: /best-pentalogies
rulink: /лучшие-пенталогии
---

{% include breadcrumbs.html %}
<article itemid="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting" itemprop="datePublished" content="{{ page.published }}">
  {% include header.html %}
  <div class="mb-0" itemprop="articleBody">
    <p>Лучшие пенталогии (5 частей), которые я рекомендую посмотреть в 2020, оцененные мной от 8 до 9 баллов из 10, а также <a class="text-decoration-none" href="/лучшие-фильмы">лучшие фильмы</a> оценнные мной от 9 до 10, <a class="text-decoration-none" href="/лучшие-дилогии">дилогии</a>, <a class="text-decoration-none" href="/лучшие-трилогии">трилогии</a> и <a class="text-decoration-none" href="/лучшие-квадрологии">квадрологии</a> которые стоит посмотреть</p>
    <p>
        Получить кешбек с покупок в Интернете вы можете с <a class="text-decoration-none" href="https://letyshops.com/ua/soc/sh-1?r=1736737">LetyShops</a>
    </p>
    {% assign movies=site.data.movies | where:"Type", "Pentalogy" %}
    <div class="row">
      {% for movie in movies %}
        {% include trilogy-snippet.html %}
      {% endfor %}
    </div>
  </div>
                
  <footer>
      <hr />
  </footer>
</article>

<script>
  var _merchantSettings=_merchantSettings || [];
  _merchantSettings.push(['AT', '1010l354R']);
  (function() {
    var autolink = document.createElement('script');
    autolink.type = 'text/javascript';autolink.async=true;
    autolink.src = ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(autolink, s);
  })();
</script>