---
title: Best movies and series
description: Best movies, dilogies, trilogies, quadrologies and pentalogies to watch on Amazon, Google or iTunes in 2020
image: /assets/img/movies/the-shawshank-redemption.jpg
preview: /assets/img/movies/the-shawshank-redemption.png
permalink: /movies
enlink: /movies
rulink: /фильмы
---

{% include title.html %}
{% assign posts = site.pages | where_exp: "post", "post.tags contains 'movies'" | where:"lang", page.lang | where:"type", "article" | sort: "modified" | reverse %}
{% for post in posts %}
    {% include post-snippet.html %}    
{% endfor %}