---
title: How to encrypt EBS volume
description: Step-by-step guide about how to encrypt EBS volume using web interface or PowerShell
published: 2019-10-05
modified: 2020-10-07
image: /assets/img/articles/how-to-encrypt-ebs-volume/title.png
preview: /assets/img/articles/how-to-encrypt-ebs-volume/title.png
tags: [devops, aws, cloud, security]
permalink: /how-to-encrypt-ebs-volume
enlink: /how-to-encrypt-ebs-volume
rulink: /как-зашифровать-ebs-том
affiliate:
  link: https://go.nordvpn.net/aff_c?offer_id=15&aff_id=42754&url_id=902
  banner: affiliate-banners-650x1200-en-v3.jpg
  text: NordVPN - fastest in the world
---

{% include breadcrumbs.html %}
<article itemscope itemtype="https://schema.org/Article">
	{% include header.html %}	
	<div class="mb-0" itemscope itemtype="https://schema.org/HowTo">
		<meta itemprop="name" content="{{ page.title }}">
		<meta itemprop="totalTime" content="PT1H">
		<p itemprop="description">         
		 In this article, I will show you how to encrypt EBS volume
		 <ul class="list-unstyled">             
			<li>Go to <a href="https://console.aws.amazon.com/ec2" target="_blank">https://console.aws.amazon.com/ec2</a> and navigate to instances</li>
			<li>
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2">
						Stop instance which volume you want to encrypt
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-encrypt-ebs-volume/stop-instance.png" alt="Stop instance" />
				</figure>                
			</li>		
			<li>
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2">
						Expand the bottom pane and switch to the «Storage» tab, so you see a link to the instance's volume at the bottom of the page
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-encrypt-ebs-volume/get-attached-volume-id.png" alt="Get attached volume id" />
				</figure>                
			</li>
			<li>Click on it and you will notice that volume isn't encrypted, so you have to right-click and select «Create snapshot»</li>
			<li>Provide a name and a description to easily find the snapshot and click «Create Snapshot»</li>
			<li>Navigate to snapshots, right-click on that one we created and select «Create Volume», notice that snapshot is not encrypted</li>
			<li>To create encrypted volume from an unencrypted snapshot, select the same availability zone and checkmark the appropriate checkbox and click «Create Volume»</li>
			<li>Once we have a volume created, go back to EC2 instances section and locate your instance</li>
			<li>Write down current Device name attachement info, for Linux instances, it's usually /dev/xvda</li>
			<li>Switch to the Storage tab, click on the currently attached volume, so you will be sent to the volumes section again, but filtered out to show you only one volume, so you won't misclick and disconnect a volume from another instance</li>
			<li>Right-click on the volume and click «Detach Volume»</li>
			<li>Right-click on encrypted volume and select «Attach Volume», notice it's encrypted</li>
			<li>Provide instance id you are attaching the volume to and the device name (you noted on step 15) and click attach</li>
		 </ul>
		 That's it, later you can remove unencrypted volume and snapshot
<pre><code>
Set-AWSCredential -AccessKey access_key_id -SecretKey secret_key -StoreAs aws_creds

$name = Read-Host "VM name"
$region = "eu-central-1"

$vm = (Get-EC2Instance -Region $region -ProfileName aws_creds).Instances | ? { ($_.tags | ? Key -eq Name).Value -eq $name }   

Write-Host "Stopping $name"
Stop-EC2Instance $vm -Region $region -ProfileName aws_creds
while ((Get-EC2Instance $vm -Region $region -ProfileName aws_creds).Instances.State.Name.Value -ne "stopped") {
	Start-Sleep -s 10
}

Write-Host "Creating $name snapshot"
$vol = Get-EC2Volume -Region $region -ProfileName aws_creds | ? { $_.Attachments.InstanceId -eq $vm.InstanceId }
$snapshot = New-EC2Snapshot $vol.VolumeId $name -Region $region -ProfileName aws_creds
while ((Get-EC2Snapshot -Region $region -ProfileName aws_creds | ? Description -eq $name).State -ne "completed") {
	Start-Sleep -s 10
}

Write-Host "Creating $name encrypted volume"
$tag = @{ Key="Name"; Value=$name }
$tagspec = new-object Amazon.EC2.Model.TagSpecification
$tagspec.ResourceType = "volume"
$tagspec.Tags.Add($tag)
$newvol = New-EC2Volume $snapshot.SnapshotId -Encrypted $true -TagSpecification $tagspec -AvailabilityZone $vol.AvailabilityZone -Region $region -ProfileName aws_creds   
	
Write-Host "Waiting for volume to become available"
while ((Get-EC2Volume -VolumeId $newvol.VolumeId -Region $region -ProfileName aws_creds).State -ne "available") {
	Start-Sleep -s 15
}
	
Write-Host "Detaching existing unencrypted volume from $name"
Dismount-EC2Volume -VolumeId $vol.VolumeId -Region $region -ProfileName aws_creds
Write-Host "Attaching encrypted volume to $name"
while ((Get-EC2Volume -VolumeId $vol.VolumeId -Region $region -ProfileName aws_creds).State -ne "available") {
	Start-Sleep -s 15
}
Add-EC2Volume -InstanceId $vm.InstanceId -VolumeId $newvol.VolumeId -Device $vm.RootDeviceName -Region $region -ProfileName aws_creds
	
Start-EC2Instance $vm -Region $region -ProfileName aws_creds

Write-Host "Removing $name unencrypted volume"
Remove-EC2Volume $vol -Region $region -ProfileName aws_creds
</code></pre>
	  </p>		
	</div>

	<footer>
		<hr>
	</footer>
</article>