---
title: How to create custom ESXi image
description: Create your own ESXi image with the latest or specific build and custom drivers using GUI or PowerShell
published: 2020-10-10
modified: 2020-11-22
image: /assets/img/articles/how-to-create-custom-esxi-image/title.png
preview: /assets/img/articles/how-to-create-custom-esxi-image/title.png
tags: [devops, scripting, automation, powershell, vmware, esxi]
permalink: /how-to-create-custom-esxi-image
enlink: /how-to-create-custom-esxi-image
rulink: /как-создать-кастомный-esxi-образ
redirect_from: /how-to-create-custom-esxi-image-with-powershell
affiliate:
  link: https://go.nordvpn.net/aff_c?offer_id=15&aff_id=42754&url_id=902
  banner: affiliate-banners-650x1200-en-v3.jpg
  text: NordVPN - fastest in the world
---

{% include breadcrumbs.html %}
<article itemscope itemtype="https://schema.org/Article">
	{% include header.html %}	
	<div class="mb-0" itemscope itemtype="https://schema.org/HowTo">
		<meta itemprop="name" content="{{ page.title }}">
		<meta itemprop="totalTime" content="PT30M">		
		<p itemprop="description">
			In this article, I will show you how to create a custom esxi image with PowerShell
		</p>
		<p>You will need <span itemprop="supply" itemtype="https://schema.org/HowToSupply">30 minutes</span> to <span itemprop="tool" itemtype="https://schema.org/HowToTool">follow these steps</span>:</p>
		<ol class="list-unstyled">             
			<li id="download-vendor-customized-image" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">			
				<meta itemprop="url" content="https://sypalo.com/how-to-create-custom-esxi-image#download-vendor-customized-image">
				<meta itemprop="name" content="Download vendor customized image">
				<meta itemprop="image" content="https://sypalo.com/assets/img/articles/how-to-create-custom-esxi-image/download-vendor-customized-image.png">
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2" itemprop="text">
						Go to <a href="https://https://my.vmware.com/web/vmware/downloads/info/slug/datacenter_cloud_infrastructure/vmware_vsphere/7_0#custom_iso" target="_blank">VMWare downloads</a> and download your vendor-specific image
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-create-custom-esxi-image/download-vendor-customized-image.png" alt="Download vendor customized image" />
				</figure>
			</li>		
			<li id="download-vmware-drivers" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">			
				<meta itemprop="url" content="https://sypalo.com/how-to-create-custom-esxi-image#download-vmware-drivers">
				<meta itemprop="name" content="Download VMWare drivers">
				<meta itemprop="image" content="https://sypalo.com/assets/img/articles/how-to-create-custom-esxi-image/download-vmware-drivers.png">
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2" itemprop="text">
						Swtich to <a href="https://my.vmware.com/web/vmware/downloads/info/slug/datacenter_cloud_infrastructure/vmware_vsphere/7_0#drivers_tools" target="_blank">Drivers</a> tab and download required/additional/updated drivers if needed
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-create-custom-esxi-image/download-vmware-drivers.png" alt="Download vmware drivers" />
				</figure>
			</li>			
			<li id="download-latest-esxi-build" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">			
				<meta itemprop="url" content="https://sypalo.com/how-to-create-custom-esxi-image#download-latest-esxi-build">
				<meta itemprop="name" content="Download latest ESXi build">
				<meta itemprop="image" content="https://sypalo.com/assets/img/articles/how-to-create-custom-esxi-image/download-latest-esxi-build.png">
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2" itemprop="text">
						Go to <a href="https://my.vmware.com/group/vmware/patch#search" target="_blank">VMWare patches</a> and download latest ESXi build
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-create-custom-esxi-image/download-latest-esxi-build.png" alt="Download latest esxi build" />
				</figure>
			</li>
			<li id="download-vendor-drivers" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/how-to-create-custom-esxi-image#download-vendor-drivers">
				<meta itemprop="name" content="Download vendor drivers">
				<meta itemprop="image" content="https://sypalo.com/assets/img/articles/how-to-create-custom-esxi-image/download-vendor-drivers.png">
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2" itemprop="text">
						Go to your server's vendor drivers download page, in my case <a href="https://my.vmware.com/group/vmware/patch#search" target="_blank">Cisco drivers</a> and download latest drivers for your ESXi version
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-create-custom-esxi-image/download-vendor-drivers.png" alt="Download vendor drivers" />
				</figure>
			</li>
			<li id="import-vendor-customized-image" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/how-to-create-custom-esxi-image#import-vendor-customized-image">
				<meta itemprop="name" content="Import vendor-customized image">
				<meta itemprop="image" content="https://sypalo.com/assets/img/articles/how-to-create-custom-esxi-image/import-vendor-customized-image.png">
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2" itemprop="text">
						Go to your vCenter AutoDeploy menu section, click the Import link on the top right, locate a vendor-customized image and provide a name
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-create-custom-esxi-image/import-vendor-customized-image.png" alt="Import vendor-customized image" />
				</figure>
			</li>
			<li id="import-remaining-vibs" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/how-to-create-custom-esxi-image#import-remaining-vibs">
				<meta itemprop="name" content="Import remaining vibs">
				<meta itemprop="image" content="https://sypalo.com/assets/img/articles/how-to-create-custom-esxi-image/import-remaining-vibs.png">
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2" itemprop="text">
						Repeat the previous step and import the latest ESXi build and drivers
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-create-custom-esxi-image/import-remaining-vibs.png" alt="Import remaining vibs" />
				</figure>
			</li>
			<li id="add-custom-depot" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/how-to-create-custom-esxi-image#add-custom-depot">
				<meta itemprop="name" content="Add custom depot">
				<meta itemprop="image" content="https://sypalo.com/assets/img/articles/how-to-create-custom-esxi-image/add-custom-depot.png">
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2" itemprop="text">
						Add custom depot
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-create-custom-esxi-image/add-custom-depot.png" alt="Add custom depot" />
				</figure>
			</li>
			<li id="add-new-image-profile" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/how-to-create-custom-esxi-image#add-new-image-profile">
				<meta itemprop="name" content="Add new image profile">
				<meta itemprop="image" content="https://sypalo.com/assets/img/articles/how-to-create-custom-esxi-image/add-new-image-profile.png">
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2" itemprop="text">
						Click on the link "New image profile" and provide name and details. <br />
						I usually use the following naming convention: ESXi-[major_version].[minor_version]-[build]-[standard/no-tools]. The last part depends on whenever I include VMTools or no.
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-create-custom-esxi-image/add-new-image-profile.png" alt="Add new image profile" />
				</figure>
			</li>
			<li id="select-software-packages" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/how-to-create-custom-esxi-image#select-software-packages">
				<meta itemprop="name" content="Select software packages">
				<meta itemprop="image" content="https://sypalo.com/assets/img/articles/how-to-create-custom-esxi-image/select-software-packages.png">
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2" itemprop="text">
						Select only the latest packages as by default wizard shows you a list with all available vibs from all depots
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-create-custom-esxi-image/select-software-packages.png" alt="Add new image profile" />
				</figure>
			</li>
			<li id="create-сustom-ESXi-image" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
				<meta itemprop="url" content="https://sypalo.com/how-to-create-custom-esxi-image#create-сustom-esxi-image">
				<meta itemprop="name" content="Сreate сustom ESXi image">
				<meta itemprop="image" content="https://sypalo.com/assets/img/articles/how-to-create-custom-esxi-image/create-сustom-esxi-image.png">
				<figure class="figure mx-auto d-block">
					<figcaption class="mb-2" itemprop="text">
						Custom ESXi image has been created and now you can use it in AutoDeploy or export to zip or ISO by clicking the Export button
					</figcaption>
					<img class="img-fluid mx-auto d-block" src="/assets/img/articles/how-to-create-custom-esxi-image/create-сustom-esxi-image.png" alt="Сreate сustom ESXi image" />
				</figure>
			</li>
		</ol>
		<p class="mt-2 mb-0">Or you can use the following PowerShell script to do this for you</p>
<pre><code>
$vcenter = Read-Host "Provide vCenter name"
$esxi_build = Read-Host "Provide ESXi build number you want to download"
$handle = Connect-VIServer $vcenter
$version = $handle.Version.Substring(0,3)

# Import downloaded ESXi Cisco Custom image, latest ESXi image, Cisco enic drivers and NetApp VAAI driver from the folder below
Get-EsxSoftwareDepot | Remove-EsxSoftwareDepot
Add-EsxSoftwareDepot (Get-ChildItem "c:\packages\$version" *.zip).FullName

$profilename = "ESXi-$version-$esxi_build"
Write-Host "Checking if already downloaded build matches target one"
if ((Get-EsxSoftwarePackage -Newest | ? name -eq esx-base).Version.Split('.')[-1] -ne $esxi_build) {
	Get-EsxSoftwareDepot | Remove-EsxSoftwareDepot
		
	Write-Host "New build $profilename wasn't found locally, adding online depot to download it"
	Add-EsxSoftwareDepot "https://hostupdate.vmware.com/software/VUM/PRODUCTION/main/vmw-depot-index.xml"

	Write-Host "Looking for a build to download"
	$ver = "ESXi-"  + $handle.Version + "-202"	
	Get-EsxImageProfile | ? Name -like *$ver*standard* | sort Name -Descending | % {
		if (($_.VibList | ? name -eq esx-base).Version.Split('.')[-1] -eq $esxi_build) {
			$profilename = $_.Name
			Write-Host "Found correct build in profile $profilename, downloading it"
			Export-EsxImageProfile $profilename -ExportToBundle c:\packages\$version\$profilename.zip
			break 
		}	
	}
}
else {
	Write-Host "Correct build is already downloaded"
	$profilename = "ESXi-$version-$esxi_build"
}

# Import downloaded ESXi Cisco Custom image, latest ESXi image, Cisco enic drivers and NetApp VAAI driver from the folder below
Get-EsxSoftwareDepot | Remove-EsxSoftwareDepot
Add-EsxSoftwareDepot (Get-ChildItem "c:\packages\$version" *.zip).FullName

Write-Host "Creating custom stateless ESXi image without tools"
if (!(Test-Path c:\packages\$profilename-no-tools.zip)) {
	New-EsxImageProfile -NewProfile -Name $profilename-no-tools -SoftwarePackage (Get-EsxSoftwarePackage -Newest | ? name -ne tools-light) -Vendor DevOps -AcceptanceLevel PartnerSupported
	Export-EsxImageProfile $profilename-no-tools -ExportToBundle c:\packages\$profilename-no-tools.zip
}

Write-Host "Creating custom stateful ESXi image with tools"
if (!(Test-Path c:\packages\$profilename-standard.zip)) {
	New-EsxImageProfile -NewProfile -Name $profilename-standard -SoftwarePackage (Get-EsxSoftwarePackage -Newest) -Vendor DevOps -AcceptanceLevel PartnerSupported
	Export-EsxImageProfile $profilename-standard -ExportToBundle c:\packages\$profilename-standard.zip
}
</code></pre>
		<p>That's all, we built an ESXi image we need with specified drivers</p>
	</div>

	<footer>
		<hr>
	</footer>
</article>