<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="title" content="{{ page.title }}" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="author" content="Sergey Sypalo">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="https://www.facebook.com/SergeySypalo" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ page.title }}</title>
</head>
<body class="mb-0">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 shadow">
            <div class="container">
                <a class="navbar-brand" href="/">Sypalo.com</a>
                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/devops">DevOps</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/photo">Photo</a>
                        </li>                       
                        <li class="nav-item">
                            <a class="nav-link" href="/movies">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>                    
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container mt-4 mb-4 p-4 shadow-lg">
        <div class="row">
            <div class="col-9">
                {{ content }}
            </div><!-- /.blog-main -->

            <aside class="col-3">
                <div class="p-3 bg-light rounded">
                    <h4 class="font-italic">About us</h4>
                    <p>
                        Hello, we are Sergey and Jane, brother and sister, welcome to our site. We have both 15+ years of real-life experience and want to share it with you.
                    </p>
                    <p>
                        Sergey is a professional cloud engineer with 15+ years of experience, specializing on the Microsoft, VMWare and Cisco products and managing datacenters worldwide.
                    </p>
                    <p>
                        Jane is a professional artist, specializing in oil and acryl painting.
                    </p>
                    <p>
                        Also both are travelling and photographing nature and people for a last decade.
                    </p>
                </div>

                <nav class="nav flex-column">
                    <a class="nav-link" href="#">Link</a>                    
                </nav>
                
                <div class="p-4">
                    <h4 class="font-italic">Tags</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="/tag/devops">DevOps</a></li>
                        <li><a href="/tag/cloud">Cloud</a></li>
                        <li><a href="/tag/aws">AWS</a></li>
                        <li><a href="/tag/docker">AWS</a></li>
                        <li><a href="/tag/serverless">Serverless</a></li>
                        <li><a href="/tag/cisco">Cisco</a></li>
                        <li><a href="/tag/vmware">VMWare</a></li>
                        <li><a href="/tag/netapp">NetApp</a></li>
                        <li><a href="/tag/powershell">PowerShell</a></li>
                        <li><a href="/tag/pythog">Python</a></li>
                    </ol>
                </div>

            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="p-2 bg-dark text-center text-muted">
        <a class="text-muted" href="https://sypalo.com">Sypalo.com</a> &copy; 2019
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
