<!doctype html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="title" content="{{ page.title }}" />
        <meta name="description" content="{{ page.description }}" />    
        <meta name="author" content="Sergey Sypalo">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />        
        <meta property="og:type" content="{{ page.type }}" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
        <meta name="twitter:card" content="{{ page.description }}">
        <meta name="p:domain_verify" content="edcf03c5094df3b56f80acbb7cbf9604"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/fonts.css">
        <link rel="canonical" href="https://sypalo.com{{ page.url }}" />
        <link rel="alternate" href="https://sypalo.com{{ page.enlink }}" hreflang="en" />
        <link rel="alternate" href="https://sypalo.com{{ page.rulink }}" hreflang="ru" />        
        <link rel="icon" href="/favicon.ico" />
        <title>{{ page.title }}</title>
        <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
                var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
                j.async=true;
                j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})
                (window,document,'script','dataLayer','GTM-WN6CJZ4');
            </script>
        <!-- End Google Tag Manager -->
    </head>
    <body class="mb-0 bg-light">
        <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN6CJZ4" height="0" width="0" class="d-none"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <header>
            <nav class="navbar navbar-dark bg-dark p-0 shadow">
                <div class="container">                    
                    <a class="navbar-brand" href="/{% if page.lang == 'ru' %}ru{% endif %}">{{ site.name }}</a>
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item p-2">
                            <a class="nav-link" href="{{ page.enlink }}">en</a>
                        </li>                                                                    
                        <li class="nav-item p-2">
                            <a class="nav-link" href="{{ page.rulink }}">ru</a>
                        </li>                        
                    </ul>                    
                    <ul class="navbar-nav flex-row">
                        {% for item in site.data.translations.menu %}
                        <li class="nav-item p-2 active">
                            <a class="nav-link" href="/{{ item[page.lang] | downcase }}">{{ item[page.lang] }}</a>
                        </li>                        
                        {% endfor %}                        
                    </ul>
                </div>
            </nav>
        </header>        
        
        <main role="main" class="container-lg my-sm-4 bg-white">
            <div class="row p-2 pt-4 shadow-sm">
                <section class="col-12 col-xl-9">                    
                    {{ content }}
                </section><!-- /.blog-main -->
                <aside class="col-12 col-xl-3 mb-3 pl-lg-0">                    
                    <div class="row m-0 p-0 py-2 shadow-sm">                        
                        <h3 class="h5 col-12">{{ site.data.translations.aside[page.lang].about }}</h3>
                        <section class="col-12 col-sm-5 col-md-5 col-lg-12 mb-2">
                            <img class="img-fluid" src="/assets/img/sergey-and-jane-sypalo.jpg" alt="Sergey and Jane Sypalo">                                                            
                        </section>    
                        <section class="col-12 col-sm-7 col-md-7 col-lg-12">
                            <p>{{ site.data.translations.aside[page.lang].text }}</p>
                        </section>                        
                        <section class="col-12">
                            <h3 class="h6">Tags</h3>                            
                            {% assign tags =  site.pages | map: 'tags' | join: ',' | join: ',' | split: ',' | uniq | sort %}
                            <ol class="list-unstyled mb-0">
                                {% for tag in tags %}
                                    <li><a href="/{{ tag }}">{{ tag }}</a></li>
                                {% endfor %}
                            </ol>
                        </section>
                    </div>                   
                </aside><!-- /.blog-sidebar -->
            </div><!-- /.row -->
        </main><!-- /.container -->
        
        <footer class="p-2 bg-dark text-center text-muted">
            <a class="text-muted" href="{{ site.url }}">{{ site.name }}</a> &copy; 2020            
        </footer>
        
        {% if page.url contains "photo" or page.url contains "фото" or page.js == true %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endif %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21825981-6"></script>
        <script type="application/ld+json">            
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "https://sypalo.com",
            "sameAs": [
                "https://facebook.com/Sypalocom",
                "https://instagram.com/sypalophoto",
                "https://twitter.com/SergeySypalo",
                "https://linkedin.com/in/SergeySypalo"
            ]            
        }
        </script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-21825981-6');
        </script>
        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '2403304246450757');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1"  class="d-none"
            src="https://www.facebook.com/tr?id=2403304246450757&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
    </body>
</html>