---
lang: en
title: Best camera phones
description: Best camera phones 2020 by DxOMark
date: 2019-05-14
modified: 2019-05-18
categories: [Photo]
tags: [Photo, Camera, Phone, Mobile]
permalink: /ru/:categories/blog/:title
type: article
comments: true
---

<article itemid="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting" itemprop="datePublished" content="{{ post.date }}">
    <header class="mb-2">
        <h2 class="h5" itemprop="headline">{{ page.title }}</h2>
        <small class="text-muted"><date itemprop="datePublished">{{ page.date | date_to_long_string }}</date> | </small>
        {% for category in page.categories %}      
            <span class="badge badge-primary">{{ category }}</span>
        {% endfor %}
    </header>
    <section class="mb-0" itemprop="articleBody">
        <p>
            ВBest camera phones 2020 by DxOMark
        </p>

        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Vendor</th>
                      <th scope="col">Model</th>
                      <th scope="col">5G</th>
                      <th scope="col">DxOmark rating</th>
                      <th scope="col">DxOmark place</th>
                      <th scope="col">DxOmark review</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>                      
                      <td>Huawei</td>
                      <td>Mate 30 Pro 5G</td>
                      <td>Yes</td>
                      <td>123</td>
                      <td>1</td>
                      <td>https://www.dxomark.com/huawei-mate-30-pro-5g-camera-review</td>
                    </tr>
                    <tr>
                        <td>Huawei</td>
                        <td>Mate 30 Pro</td>
                        <td>No</td>
                        <td>121</td>
                        <td>2</td>
                        <td>https://www.dxomark.com/huawei-mate-30-pro-camera-review</td>
                    </tr>
                    <tr>
                        <td>Xiaomi</td>
                        <td>Mi Note 10</td>
                        <td>No</td>
                        <td>121</td>
                        <td>2</td>
                        <td>https://www.dxomark.com/xiaomi-mi-cc9-pro-premium-edition-camera-review</td>
                    </tr>
                    <tr>
                        <td>Apple</td>
                        <td>iPhone 11 Pro Max</td>
                        <td>No</td>
                        <td>117</td>
                        <td>3</td>
                        <td>https://www.dxomark.com/apple-iphone-11-pro-max-camera-review</td>
                    </tr>
                    <tr>
                        <td>Samsung</td>
                        <td>Note 10+ 5G</td>
                        <td>Yes</td>
                        <td>117</td>
                        <td>3</td>
                        <td>https://www.dxomark.com/samsung-galaxy-note-10-5g-camera-review</td>
                    </tr>
                    <tr>                        <td>Samsung</td>
                        <td>Note 10+</td>
                        <td>No</td>
                        <td>117</td>
                        <td>3</td>
                        <td>https://www.dxomark.com/samsung-galaxy-note-10-camera-review</td>
                    </tr>                   
                    <tr>
                        <td>Huawei</td>
                        <td>P30 Pro</td>
                        <td>No</td>
                        <td>116</td>
                        <td>4</td>
                        <td>https://www.dxomark.com/huawei-p30-pro-camera-review</td>
                    </tr>
                     <tr>
                        <td>Oppo</td>
                        <td>Reno 10x Zoom</td>
                        <td>No</td>
                        <td>116</td>
                        <td>4</td>
                        <td>https://www.dxomark.com/oppo-reno-10x-zoom-camera-review</td>
                    </tr>
                    <tr>
                        <td>Samsung</td>
                        <td>Galaxy S10 5G</td>
                        <td>Yes</td>
                        <td>116</td>
                        <td>4</td>
                        <td>https://www.dxomark.com/samsung-galaxy-s10-5g-camera-review</td>
                    </tr>
                    <tr>
                        <td>OnePlus</td>
                        <td>7 Pro</td>
                        <td>No</td>
                        <td>114</td>
                        <td>5</td>
                        <td>https://www.dxomark.com/oneplus-7-pro-camera-review</td>
                    </tr>
                    <tr>
                        <td>Honor</td>
                        <td>20 Pro</td>
                        <td>No</td>
                        <td>113</td>
                        <td>6</td>
                        <td>https://www.dxomark.com/honor-20-pro-camera-review</td>
                    </tr>
                    <tr>
                        <td>Google</td>
                        <td>Pixel 4</td>
                        <td>No</td>
                        <td>112</td>
                        <td>7</td>
                        <td>https://www.dxomark.com/google-pixel-4-camera-review</td>
                    </tr>                    
                    <tr>
                        <td>Huawei</td>
                        <td>Mate 20 Pro</td>
                        <td>No</td>
                        <td>112</td>
                        <td>7</td>
                        <td>https://www.dxomark.com/huawei-mate-20-pro-camera-review-triple-cam-juggernaut</td>
                    </tr>
                    <tr>
                        <td>Xiaomi</td>
                        <td>Mi 9</td>
                        <td>No</td>
                        <td>110</td>
                        <td>8</td>
                        <td>https://www.dxomark.com/xiaomi-mi-9-camera-review</td>
                    </tr>
                    <tr>
                        <td>Huawei</td>
                        <td>P20 Pro</td>
                        <td>No</td>
                        <td>109</td>
                        <td>9</td>
                        <td>https://www.dxomark.com/huawei-p20-pro-camera-review-innovative-technologies-outstanding-results</td>
                    </tr>
                    <tr>
                        <td>Apple</td>
                        <td>iPhone XS Max</td>
                        <td>No</td>
                        <td>106</td>
                        <td>10</td>
                        <td>https://www.dxomark.com/apple-iphone-xs-max-review-flagship-imaging-power</td>
                    </tr>           
                  </tbody>
            </table>
          </div>
    </section>
        
    <footer>
        <hr />
    </footer>
</article>
{% include comments.html %}