---
layout: default
title: How to upgrade Ubuntu including kernel to the latest stable release
description: How to upgrade Ubuntu including kernel to the latest stable release
date: 2019-05-14
modified: 2019-05-18
categories: [DevOps]
tags: [Linux, Security, Upgrade]
permalink: /:categories/blog/:title
type: article
comments: true
redirect_to: "https://sypalo.com/devops/blog/how-to-upgrade-ubuntu"
---

<article itemid="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting" itemprop="datePublished" content="{{ post.date }}">
    <header class="mb-2">
        <h2 class="h5" itemprop="headline">{{ page.title }}</h2>
        <small class="text-muted"><date itemprop="datePublished">{{ page.date | date_to_long_string }}</date> | </small>
        {% for category in page.categories %}      
            <span class="badge badge-primary">{{ category }}</span>
        {% endfor %}
    </header>
    <section class="mb-0" itemprop="articleBody">
        <p>
            In this article I will show you how to upgrade your Ubuntu 18.04 to 19.04 bypassing the minor upgrade to 18.10. As a bonus, we will also upgrade the kernel to version 5.3.2, which contains the following improvements:
        </p>
        <ul>
            <li>High-performance asynchronous I/O</li>
            <li>Use persistent memory as RAM</li>
            <li>Live patching: support cumulative patches</li>
            <li>Intel HDCP 2.2 support</li>
            <li>Better protection against Spectre vulnerability variations</li>
        </ul>
        <p>
                And here is a short list of what's new added to Ubuntu 19.04:        
        </p>
        <ul>        
                <li>Better and faster GNOME 3.32 Desktop</li>
                <li>New Icons and Visual Tweaks</li>
                <li>Night Light Improvements</li>
                <li>Application Permission Controls</li>        
            </ul>
        <p>
                Perform the following steps to upgrade:
        </p>
        <pre>
            # First of all upgrade existing software (reboot might be needed)
            sudo apt update && sudo apt dist-upgrade

            # Install update-manager-core package
            sudo apt install update-manager-core

            # Edit following configuration file...
            sudo nano /etc/update-manager/release-upgrades

            # ... and change Prompt to new value, like so
            Prompt=normal

            # Press Ctrl+X to save and exit from nano

            # Change default distro from bionic, which is a
            # codename for Ubuntu 18.04 to Disco (19.04 codename)
            sudo sed -i 's/bionic/disco/g' /etc/apt/sources.list

            # Disable 3rd-party repos
            sudo sed -i 's/^/#/' /etc/apt/sources.list.d/*.list

            # Run minimal upgrade
            sudo apt update && sudo apt upgrade

            # Run full upgrade
            sudo apt dist-upgrade

            # If any error run
            sudo apt update && sudo apt dist-upgrade

            # Run cleanup
            sudo apt autoremove && sudo apt clean

            # Reboot the system
            sudo shutdown -r now

            # Change current directory to /tmp
            cd /tmp/

            # Download new kernel  
            wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.3.2/linux-headers-5.3.2-050302_5.3.2-050302.201910010731_all.deb
            wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.3.2/linux-headers-5.3.2-050302-generic_5.3.2-050302.201910010731_amd64.deb
            wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.3.2/linux-image-unsigned-5.3.2-050302-generic_5.3.2-050302.201910010731_amd64.deb
            wget -c https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.3.2/linux-modules-5.3.2-050302-generic_5.3.2-050302.201910010731_amd64.deb

            # Install new kernel
            sudo dpkg -i *.deb

            # Reboot the system
            sudo shutdown -r now

            # Check and update packages
            sudo apt update && sudo apt upgrade

            # Reboot the system if needed
            sudo shutdown -r now

            # Check the OS distro
            lsb_release -a

            # Check the kernel version
            uname -r
        </pre>
        <p>
            That's it, now you should be running on the latest best-looking Ubuntu 19.04 and most secure 5.3.2 Linux Kernel.
        </p>
    </section>
        
    <footer>
        <hr />
    </footer>
</article>
{% include comments.html %}